02a_make_scenario_A_generate.json
{
  "_comment": "GROW WEST FINANCE — SCENARIO A: DAILY CONTENT GENERATE",
  "_notes": [
    "Import this file into Make.com via Scenarios > Import Blueprint",
    "After import, reconnect all connections — __IMTCONN__ IDs are placeholders",
    "Scheduling runs every 24 hours. Set first-run time to 20:00 UTC (= 06:00 AEST) when you activate",
    "Replace ALL placeholder values before activating: API keys, IDs, email addresses",
    "Module reference map: 1=Sheets, 2=Claude HTTP, 3=Claude JSON Parse, 4=Predis HTTP, 5=Predis JSON Parse, 6=Airtable"
  ],
  "blueprint": {
    "name": "GrowWest – Content Generate (Scenario A)",
    "flow": [
      {
        "id": 1,
        "module": "google-sheets:searchRows",
        "version": 2,
        "parameters": {
          "__IMTCONN__": "YOUR_GOOGLE_SHEETS_CONNECTION_ID"
        },
        "mapper": {
          "spreadsheetId": "YOUR_GOOGLE_SHEET_ID",
          "sheetName": "Pillar Schedule",
          "filter": {
            "conditions": [
              [
                {
                  "a": "Date",
                  "b": "{{formatDate(now; \"DD/MM/YYYY\")}}",
                  "o": "equal"
                }
              ]
            ],
            "a": "and"
          },
          "limit": 1,
          "includeEmptyRows": false,
          "valueRenderOption": "FORMATTED_VALUE",
          "dateTimeRenderOption": "FORMATTED_STRING"
        },
        "metadata": {
          "designer": {
            "x": 0,
            "y": 0
          },
          "restore": {
            "parameters": {
              "__IMTCONN__": {
                "label": "Grow West Google Sheets"
              }
            },
            "spreadsheetId": {
              "label": "GrowWest Pillar Schedule"
            },
            "sheetName": {
              "label": "Pillar Schedule"
            },
            "filter": {
              "conditions": {
                "items": [
                  "item"
                ]
              }
            }
          }
        },
        "onerror": [
          {
            "id": 10,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
              "__IMTCONN__": "YOUR_GOOGLE_SHEETS_CONNECTION_ID"
            },
            "mapper": {
              "spreadsheetId": "YOUR_GOOGLE_SHEET_ID",
              "sheetName": "Errors",
              "rowNumber": "{{formatDate(now; \"YYYY-MM-DD\")}}",
              "values": {
                "Timestamp": "{{now}}",
                "Module": "1 - Google Sheets",
                "Error": "{{error.message}}",
                "Pillar": "UNKNOWN"
              }
            },
            "metadata": {
              "designer": {
                "x": 0,
                "y": 150
              }
            }
          }
        ]
      },
      {
        "id": 2,
        "module": "http:ActionSendData",
        "version": 3,
        "parameters": {
          "handleErrors": true,
          "useNewZLibDecompress": true
        },
        "mapper": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "post",
          "headers": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "bodyType": "raw",
          "contentType": "application/json",
          "data": "{\"model\":\"claude-sonnet-4-6\",\"max_tokens\":1500,\"system\":\"You are a content strategist for an Australian mortgage brokerage called Grow West Finance (growwestfinance.com.au). Your job is to generate social media content that is engaging, trustworthy, and fully compliant with Australian financial services regulations.\\n\\nCOMPLIANCE RULES:\\n- Never state specific interest rates as guaranteed or current\\n- Never make promises about loan approval, borrowing amounts, or repayment amounts\\n- Always use hedging language: 'may', 'could', 'speak to a broker', 'subject to assessment'\\n- Do not constitute personal financial advice\\n- Flag any claim that references specific rates, repayment amounts, LVR thresholds, or government scheme limits\\n\\nBRAND VOICE: Professional but approachable, clear and jargon-free, Australian English (stamp duty, offset account, redraw facility, serviceability, mum and dad investors).\\n\\nHOOK QUALITY STANDARD: Under 10 words, provocative or counter-intuitive, not generic. Examples: 'Your bank is NOT your friend at renewal time.' | 'Most first buyers don't know this one fee exists.' | 'Paying off your loan faster costs you $0 extra.'\\n\\nOUTPUT RULES: Return ONLY valid JSON — no markdown, no code fences, no explanation. Must be parseable by JSON.parse() without modification.\",\"messages\":[{\"role\":\"user\",\"content\":\"Generate a complete social media content brief for Grow West Finance for the following content pillar: {{1.Pillar}}\\n\\nReturn a single JSON object with exactly these fields:\\n{\\\"hook\\\": \\\"under 10 words, punchy opening\\\",\\\"body_points\\\": [\\\"point 1\\\",\\\"point 2\\\",\\\"point 3\\\"],\\\"cta\\\": \\\"one direct action\\\",\\\"caption_tiktok_ig\\\": \\\"hook + 2-3 value lines + CTA under 150 words + 3-5 hashtags\\\",\\\"caption_facebook\\\": \\\"relatable scenario + 2 key points + comment-inviting question under 250 words + 2-3 hashtags\\\",\\\"caption_linkedin\\\": \\\"authority opener + 3 bullet takeaways + CTA under 200 words + 3-4 hashtags\\\",\\\"compliance_flag\\\": false,\\\"compliance_note\\\": \\\"\\\",\\\"pillar\\\": \\\"exact pillar name as provided\\\",\\\"post_format\\\": \\\"single_image or carousel\\\"}\\n\\nAppend to ALL three captions: '\\u26a0\\ufe0f General information only. Not personal financial advice. Speak to a qualified mortgage broker before making any financial decisions. Credit criteria, fees, and charges apply. Grow West Finance | Australian Credit Licence [ACL NUMBER]'\\n\\nSet post_format to 'carousel' for step-by-step, myth busting, comparisons, case studies. Use 'single_image' for stats, market updates, quick tips.\\nSet compliance_flag true if captions contain specific rate figures, repayment dollar amounts, LVR percentages, or exact government scheme limits.\"}]}",
          "parseResponse": true,
          "timeout": 30000,
          "followRedirect": true,
          "rejectUnauthorized": true,
          "serializeUrl": false,
          "shareCookies": false
        },
        "metadata": {
          "designer": {
            "x": 300,
            "y": 0
          },
          "restore": {
            "method": {
              "label": "POST"
            },
            "bodyType": {
              "label": "Raw"
            },
            "contentType": {
              "label": "JSON (application/json)"
            }
          }
        },
        "onerror": [
          {
            "id": 11,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
              "__IMTCONN__": "YOUR_GOOGLE_SHEETS_CONNECTION_ID"
            },
            "mapper": {
              "spreadsheetId": "YOUR_GOOGLE_SHEET_ID",
              "sheetName": "Errors",
              "rowNumber": "{{formatDate(now; \"YYYY-MM-DD\")}}",
              "values": {
                "Timestamp": "{{now}}",
                "Module": "2 - Claude API",
                "Error": "{{error.message}}",
                "Pillar": "{{1.Pillar}}"
              }
            },
            "metadata": {
              "designer": {
                "x": 300,
                "y": 150
              }
            }
          }
        ]
      },
      {
        "id": 3,
        "module": "json:ParseJSON",
        "version": 1,
        "parameters": {},
        "mapper": {
          "json": "{{2.data.content[1].text}}"
        },
        "metadata": {
          "designer": {
            "x": 600,
            "y": 0
          }
        },
        "onerror": [
          {
            "id": 12,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
              "__IMTCONN__": "YOUR_GOOGLE_SHEETS_CONNECTION_ID"
            },
            "mapper": {
              "spreadsheetId": "YOUR_GOOGLE_SHEET_ID",
              "sheetName": "Errors",
              "rowNumber": "{{formatDate(now; \"YYYY-MM-DD\")}}",
              "values": {
                "Timestamp": "{{now}}",
                "Module": "3 - JSON Parse",
                "Error": "JSON parse failed. Raw Claude output: {{2.data.content[1].text}}",
                "Pillar": "{{1.Pillar}}"
              }
            },
            "metadata": {
              "designer": {
                "x": 600,
                "y": 150
              }
            }
          }
        ]
      },
      {
        "id": 4,
        "module": "http:ActionSendData",
        "version": 3,
        "parameters": {
          "handleErrors": true,
          "useNewZLibDecompress": true
        },
        "mapper": {
          "url": "https://brain.predis.ai/predis_api/v1/create_content/",
          "method": "post",
          "headers": [
            {
              "name": "Authorization",
              "value": "YOUR_PREDIS_API_KEY"
            }
          ],
          "bodyType": "multipart",
          "data": [
            {
              "name": "brand_id",
              "value": "YOUR_PREDIS_BRAND_ID"
            },
            {
              "name": "text",
              "value": "{{3.hook}} {{3.body_points[1]}} {{3.body_points[2]}} {{3.body_points[3]}} {{3.cta}}"
            },
            {
              "name": "media_type",
              "value": "{{3.post_format}}"
            },
            {
              "name": "model_version",
              "value": "4"
            },
            {
              "name": "color_palette_type",
              "value": "brand"
            },
            {
              "name": "n_posts",
              "value": "1"
            }
          ],
          "parseResponse": true,
          "timeout": 30000,
          "followRedirect": true,
          "rejectUnauthorized": true,
          "serializeUrl": false,
          "shareCookies": false
        },
        "metadata": {
          "designer": {
            "x": 900,
            "y": 0
          },
          "restore": {
            "method": {
              "label": "POST"
            },
            "bodyType": {
              "label": "Multipart/Form-Data"
            }
          }
        },
        "onerror": [
          {
            "id": 13,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
              "__IMTCONN__": "YOUR_GOOGLE_SHEETS_CONNECTION_ID"
            },
            "mapper": {
              "spreadsheetId": "YOUR_GOOGLE_SHEET_ID",
              "sheetName": "Errors",
              "rowNumber": "{{formatDate(now; \"YYYY-MM-DD\")}}",
              "values": {
                "Timestamp": "{{now}}",
                "Module": "4 - Predis.ai API",
                "Error": "{{error.message}}",
                "Pillar": "{{1.Pillar}}"
              }
            },
            "metadata": {
              "designer": {
                "x": 900,
                "y": 150
              }
            }
          }
        ]
      },
      {
        "id": 5,
        "module": "json:ParseJSON",
        "version": 1,
        "parameters": {},
        "mapper": {
          "json": "{{4.body}}"
        },
        "metadata": {
          "designer": {
            "x": 1200,
            "y": 0
          },
          "_note": "Extracts post_ids array from Predis response. Access first post_id via {{5.post_ids[1]}}"
        }
      },
      {
        "id": 6,
        "module": "airtable:ActionCreateRecord",
        "version": 3,
        "parameters": {
          "__IMTCONN__": "YOUR_AIRTABLE_CONNECTION_ID"
        },
        "mapper": {
          "base": "YOUR_AIRTABLE_BASE_ID",
          "table": "YOUR_AIRTABLE_TABLE_ID",
          "fields": {
            "Status": "Generating",
            "Pillar": "{{3.pillar}}",
            "Post Format": "{{3.post_format}}",
            "Created Date": "{{formatDate(now; \"YYYY-MM-DD\")}}",
            "Hook": "{{3.hook}}",
            "Body Point 1": "{{3.body_points[1]}}",
            "Body Point 2": "{{3.body_points[2]}}",
            "Body Point 3": "{{3.body_points[3]}}",
            "CTA": "{{3.cta}}",
            "Caption TikTok IG": "{{3.caption_tiktok_ig}}",
            "Caption Facebook": "{{3.caption_facebook}}",
            "Caption LinkedIn": "{{3.caption_linkedin}}",
            "Compliance Flag": "{{3.compliance_flag}}",
            "Compliance Note": "{{3.compliance_note}}",
            "Predis Post ID": "{{5.post_ids[1]}}",
            "Platforms": ["TikTok", "Instagram", "Facebook", "LinkedIn"]
          },
          "typecast": false,
          "useColumnId": false
        },
        "metadata": {
          "designer": {
            "x": 1500,
            "y": 0
          },
          "restore": {
            "parameters": {
              "__IMTCONN__": {
                "label": "Grow West Airtable"
              }
            },
            "base": {
              "label": "GrowWest Social Media"
            },
            "table": {
              "label": "Content Posts"
            }
          }
        },
        "onerror": [
          {
            "id": 14,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
              "__IMTCONN__": "YOUR_GOOGLE_SHEETS_CONNECTION_ID"
            },
            "mapper": {
              "spreadsheetId": "YOUR_GOOGLE_SHEET_ID",
              "sheetName": "Errors",
              "rowNumber": "{{formatDate(now; \"YYYY-MM-DD\")}}",
              "values": {
                "Timestamp": "{{now}}",
                "Module": "6 - Airtable Create",
                "Error": "{{error.message}}",
                "Pillar": "{{1.Pillar}}"
              }
            },
            "metadata": {
              "designer": {
                "x": 1500,
                "y": 150
              }
            }
          }
        ]
      }
    ],
    "metadata": {
      "version": 1,
      "scenario": {
        "roundtrips": 1,
        "maxErrors": 3,
        "autoCommit": true,
        "autoCommitTriggerLast": true,
        "sequential": false,
        "confidential": false,
        "dataloss": false,
        "dlq": false,
        "freshVariables": false
      },
      "designer": {
        "orphans": []
      }
    }
  },
  "scheduling": {
    "type": "indefinitely",
    "interval": 86400
  },
  "_setup_checklist": [
    "1. Replace YOUR_GOOGLE_SHEETS_CONNECTION_ID with your Make.com Google Sheets connection ID",
    "2. Replace YOUR_GOOGLE_SHEET_ID with the ID from your Google Sheet URL (the long string after /d/)",
    "3. Replace YOUR_ANTHROPIC_API_KEY with your API key from console.anthropic.com",
    "4. Replace YOUR_PREDIS_API_KEY with your API key from app.predis.ai > Pricing & Account > Rest API",
    "5. Replace YOUR_PREDIS_BRAND_ID with your brand ID from app.predis.ai > Pricing & Account > Brands",
    "6. Replace YOUR_AIRTABLE_CONNECTION_ID with your Make.com Airtable connection ID",
    "7. Replace YOUR_AIRTABLE_BASE_ID with your Airtable base ID (starts with 'app')",
    "8. Replace YOUR_AIRTABLE_TABLE_ID with your Airtable table ID (starts with 'tbl')",
    "9. After activating, set scenario start time to 20:00 UTC (= 06:00 AEST) or 19:00 UTC (06:00 AEDT)",
    "10. To run TWICE daily (2 posts), duplicate this scenario and set the second run for 08:00 UTC (= 18:00 AEST) for an evening post"
  ]
}
