scenario_C_tiktok_post_blueprint.json
{
    "name": "GWF - Daily TikTok Post (Scenario C)",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 13880676
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "E",
                            "b": "Processed",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Pillar Schedule",
                "sortOrder": "asc",
                "spreadsheetId": "148w-F3L_tbQfPr9BHruaxp76q9ZL0jlLmTzPo85g5SA",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "GrowWest Finance (growwestfinance@gmail.com)"
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Pillar Schedule"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "GrowWest Social Media Automation"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "dropbox:createUpdateShareLink",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1
            },
            "mapper": {
                "path": "{{1.H}}",
                "selectBy": "map"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection"
                        }
                    }
                }
            }
        },
        {
            "id": 3,
            "module": "buffer:createAnUpdate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1
            },
            "mapper": {
                "text": "{{1.L}}",
                "profileIds": [
                    "69c54343af47dacb6958de88"
                ],
                "attachment": true,
                "picture": "{{2.downloadUrl}}",
                "thumbnail": "{{2.downloadUrl}}",
                "now": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "buffer"
                            },
                            "label": "My Buffer connection"
                        }
                    }
                }
            }
        },
        {
            "id": 4,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 13880676
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "4": "Posted"
                },
                "sheetId": "Pillar Schedule",
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "spreadsheetId": "/148w-F3L_tbQfPr9BHruaxp76q9ZL0jlLmTzPo85g5SA",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "GrowWest Finance (growwestfinance@gmail.com)"
                        }
                    }
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}