scenario_a_updated_bp.json
{"flow": [{"id": 1, "mapper": {"from": "drive", "limit": "10", "filter": [[{"a": "E", "b": "To do", "o": "text:equal"}]], "sheetId": "Pillar Schedule", "sortOrder": "asc", "spreadsheetId": "1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po", "tableFirstRow": "A1:Z1", "includesHeaders": true, "valueRenderOption": "FORMATTED_VALUE", "dateTimeRenderOption": "FORMATTED_STRING"}, "module": "google-sheets:filterRows", "version": 2, "metadata": {"expect": [{"name": "from", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["drive", "share"]}}, {"name": "valueRenderOption", "type": "select", "label": "Value render option", "validate": {"enum": ["FORMATTED_VALUE", "UNFORMATTED_VALUE", "FORMULA"]}}, {"name": "dateTimeRenderOption", "type": "select", "label": "Date and time render option", "validate": {"enum": ["SERIAL_NUMBER", "FORMATTED_STRING"]}}, {"name": "limit", "type": "uinteger", "label": "Limit"}, {"name": "spreadsheetId", "type": "select", "label": "Spreadsheet Name", "required": true}, {"name": "sheetId", "type": "select", "label": "Sheet Name", "required": true}, {"name": "includesHeaders", "type": "select", "label": "Table contains headers", "required": true, "validate": {"enum": [true, false]}}, {"name": "tableFirstRow", "type": "select", "label": "Column range", "required": true, "validate": {"enum": ["A1:Z1", "A1:BZ1", "A1:CZ1", "A1:DZ1", "A1:MZ1", "A1:ZZ1", "A1:AZZ1", "A1:BZZ1", "A1:CZZ1", "A1:DZZ1", "A1:MZZ1", "A1:ZZZ1"]}}, {"name": "filter", "type": "filter", "label": "Filter", "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"}, {"name": "orderBy", "type": "select", "label": "Order by"}, {"name": "sortOrder", "type": "select", "label": "Sort order", "validate": {"enum": ["asc", "desc"]}}], "restore": {"expect": {"from": {"label": "Select from My Drive"}, "orderBy": {"mode": "chose"}, "sheetId": {"mode": "chose", "label": "Pillar Schedule"}, "sortOrder": {"mode": "chose", "label": "Ascending"}, "spreadsheetId": {"mode": "chose", "label": "GrowWest Social Media Automation"}, "tableFirstRow": {"label": "A-Z"}, "includesHeaders": {"mode": "chose", "label": "Yes"}, "valueRenderOption": {"mode": "chose", "label": "Formatted value"}, "dateTimeRenderOption": {"mode": "chose", "label": "Formatted string"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "My Google connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 0, "y": 0}, "interface": [{"name": "__IMTLENGTH__", "type": "uinteger", "label": "Total number of bundles"}, {"name": "__IMTINDEX__", "type": "uinteger", "label": "Bundle order position"}, {"name": "__ROW_NUMBER__", "type": "number", "label": "Row number"}, {"name": "__SPREADSHEET_ID__", "type": "text", "label": "Spreadsheet ID"}, {"name": "__SHEET__", "type": "text", "label": "Sheet"}, {"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Status (E)"}, {"name": "5", "type": "text", "label": "Notes (F)"}, {"name": "6", "type": "text", "label": "Image Prompt\t (G)"}, {"name": "7", "type": "text", "label": "Dropbox Image location (H)"}, {"name": "8", "type": "text", "label": "Post Title (I)"}, {"name": "9", "type": "text", "label": "Hook (J)"}, {"name": "10", "type": "text", "label": "Hash Tags (K)"}, {"name": "11", "type": "text", "label": "Caption (L)"}, {"name": "12", "type": "text", "label": "Caption 2 (M)"}, {"name": "13", "type": "text", "label": "Caption 3 (N)"}, {"name": "14", "type": "text", "label": "Carousal 1 Text (O)"}, {"name": "15", "type": "text", "label": "Carousal 1 Image (P)"}, {"name": "16", "type": "text", "label": "Carousal 2 Text (Q)"}, {"name": "17", "type": "text", "label": "Carousal 2 Image (R)"}, {"name": "18", "type": "text", "label": "Carousal 3 Text (S)"}, {"name": "19", "type": "text", "label": "Carousal 3 Image (T)"}, {"name": "20", "type": "text", "label": "(U)"}, {"name": "21", "type": "text", "label": "(V)"}, {"name": "22", "type": "text", "label": "(W)"}, {"name": "23", "type": "text", "label": "(X)"}, {"name": "24", "type": "text", "label": "(Y)"}, {"name": "25", "type": "text", "label": "(Z)"}], "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13972126}}, {"id": 2, "mapper": {"ca": "", "qs": [], "url": "https://api.anthropic.com/v1/messages", "data": "{\"model\": \"claude-sonnet-4-6\", \"max_tokens\": 3000, \"system\": \"You are a content strategist for GrowWest Finance, an Australian mortgage brokerage (growwestfinance.com.au).\\n\\nCOMPLIANCE RULES:\\n- Never state specific interest rates as guaranteed or current\\n- Never make promises about loan approval or borrowing amounts\\n- Always use hedging language: may, could, speak to a broker, subject to assessment\\n- Do not constitute personal financial advice\\n\\nBRAND VOICE: Positive, empowering, and aspirational. Australian English (stamp duty, offset account, serviceability). Clear, jargon-free. The goal is to make prospective home buyers feel CONFIDENT and EXCITED about their property journey \\u00e2\\u20ac\\u201d not scared or overwhelmed. Position GrowWest as the helpful guide who makes everything easier, NOT as someone warning about dangers.\\n\\nTONE RULES:\\n- Lead with opportunity and possibility, never fear or hidden dangers\\n- Frame challenges as things GrowWest helps clients navigate easily\\n- Celebrate wins: government schemes, grants, savings strategies, success stories\\n- Make home ownership feel achievable and within reach\\n- Avoid scare tactics, fear-mongering, or making the process sound overwhelming\\n- When mentioning costs or complexities, always pair them with the solution GrowWest provides\\n\\nBRANDING: Navy #1B2A4A, gold #C9A84C. Handle: @growwestfinance. Website: growwestfinance.com.au. Phone: 0447 002 700\\n\\nCTA RULES:\\n- There is NO booking system. Never say Book a consultation, Book a call, or Book online.\\n- CTAs should encourage: commenting on the post, sending a DM, or calling 0447 002 700.\\n- Use CTAs like: Drop a comment below, DM us to chat, Call us on 0447 002 700, Send us a message, Comment HOME and we will reach out, Tag someone who needs this\\n- For image CTA buttons use: Call Us on 0447 002 700, DM Us, Comment Below, Get In Touch\\n\\nHOOK STANDARD: Under 10 words, punchy and scroll-stopping. Should spark curiosity or excitement \\u00e2\\u20ac\\u201d NOT fear. Examples of GOOD hooks: You could buy your first home with just 5% deposit. | This government scheme just made buying easier. | Your dream home may be closer than you think. Examples of BAD hooks (never use this style): Your bank is NOT your friend. | Most first buyers dont know this one fee exists. | The hidden cost nobody talks about.\\n\\nCRITICAL OUTPUT RULES:\\n- Return ONLY valid JSON. No markdown fences, no code blocks, no explanation before or after.\\n- Do NOT use double-quote characters inside any string value. Use single quotes if quoting is needed within values.\\n- Do NOT use newline characters or line breaks inside any string value. Write all captions, hooks, and hashtags as a single continuous line. Use a pipe | or ellipsis to separate sections visually if needed.\\n- Must be parseable by JSON.parse() without modification.\", \"messages\": [{\"role\": \"user\", \"content\": \"Generate complete social media content for GrowWest Finance.\\n\\nPillar: {{1.`1`}}\\nIdea: {{1.`2`}}\\nPost Format: {{1.`3`}}\\n\\nCRITICAL \\u00e2\\u20ac\\u201d IDEA FAITHFULNESS:\\n- The Idea field above is the SPECIFIC topic this post MUST be about. Do NOT deviate from it.\\n- If the Idea is about a government scheme, the content MUST be about that scheme and its benefits \\u00e2\\u20ac\\u201d not about hidden costs, dangers, or unrelated topics.\\n- Build ALL content (hook, captions, image prompt, title) directly around the provided Idea.\\n- If the Idea field is empty or blank, THEN generate a fresh trending idea based on the Pillar \\u00e2\\u20ac\\u201d but make it positive and opportunity-focused.\\n\\nCONTENT TONE:\\n- Every piece of content should make the reader feel EMPOWERED and EXCITED to take action\\n- Position GrowWest as the expert guide who makes the process simple\\n- Highlight benefits, opportunities, schemes, and pathways to home ownership\\n- If the idea involves a government scheme or incentive, explain why it is great news for buyers\\n- End with an encouraging CTA that invites them to comment, DM, or call 0447 002 700 \\u00e2\\u20ac\\u201d NOT book a consultation\\n\\nCTA RULES:\\n- There is NO booking system. NEVER use Book a consultation, Book a call, Schedule a meeting, or any booking language.\\n- Instead use: Drop a comment below, DM us, Call us on 0447 002 700, Send us a message, Comment HOME and we will reach out, Tag a friend who needs to see this\\n- Image CTA buttons should say: Call Us on 0447 002 700, DM Us, Comment Below, or Get In Touch\\n- The phone number 0447 002 700 should appear in EVERY caption at least once\\n\\nIf Post Format is carousel, generate 3 distinct image prompts and 3 slide overlay texts.\\nIf Post Format is single_image (or anything other than carousel), leave carousel text and extra image prompt fields as empty strings.\\n\\nReturn a JSON object with exactly these keys: idea, image_prompt, image_prompt_2, image_prompt_3, post_title, hook, hashtags, caption_tiktok_ig, caption_facebook, caption_linkedin, carousel_1_text, carousel_2_text, carousel_3_text\\n\\nField requirements:\\n- idea: The content idea. Must match or closely reflect the input Idea. If input Idea was blank, generate a positive, opportunity-focused idea for this pillar.\\n- image_prompt: Detailed Gemini image generation prompt for a SOCIAL MEDIA POST IMAGE. CRITICAL REQUIREMENTS: 1) PORTRAIT/VERTICAL format (1080x1350 aspect ratio, mobile-optimized for Instagram/TikTok). 2) Include the HOOK TEXT prominently overlaid on the image in large bold navy #1B2A4A font with a soft peach/gold #C9A84C highlight box behind key words - make the text the focal point, readable at phone screen size. The hook should feel POSITIVE and EXCITING. 3) Background should be a POSITIVE, ASPIRATIONAL lifestyle photo (happy couple receiving keys, smiling family in front of new home, excited first home buyers celebrating, bright modern Australian home exterior etc) \\u00e2\\u20ac\\u201d NO stressed, worried, or overwhelmed expressions. The background should convey achievement, happiness, and possibility. 4) Include 2-3 supporting bullet points or short phrases below the hook in smaller white or navy text \\u00e2\\u20ac\\u201d these should highlight BENEFITS and OPPORTUNITIES, not costs or warnings. 5) Bottom section: a simple navy #1B2A4A bar with the text Call Us on 0447 002 700 in a rounded pill shape with gold #C9A84C background. 6) Overall style: clean, modern, professional but warm and uplifting - similar to Canva-style social media templates. Brand colors navy #1B2A4A, gold/peach #C9A84C, white. 7) No watermarks, no stock photo logos, no brand logos whatsoever. DO NOT include any logo, brand name, company name, or wordmark anywhere in the image - the logo will be added separately via overlay. Leave the top-left corner area clean and empty for logo placement. If carousel this is for slide 1 only.\\n- image_prompt_2: Slide 2 image prompt following the same PORTRAIT format and positive branded style as image_prompt. Different aspirational background photo, different supporting benefit points. Bottom CTA bar must say Call Us on 0447 002 700 (never Book). DO NOT include any logo, brand name, or wordmark - leave top-left corner clean for overlay. Only populate if carousel, otherwise empty string.\\n- image_prompt_3: Slide 3 image prompt following the same PORTRAIT format and positive branded style. Different background, final slide should feel like an exciting conclusion/CTA with a sense of achievement. Bottom CTA bar must say Call Us on 0447 002 700 (never Book). DO NOT include any logo, brand name, or wordmark - leave top-left corner clean for overlay. Only populate if carousel, otherwise empty string.\\n- post_title: Clear descriptive title that reflects the actual Idea and sounds positive/inviting.\\n- hook: Under 10 words, punchy scroll-stopping opening line. Must be POSITIVE \\u00e2\\u20ac\\u201d spark excitement or curiosity about an opportunity, never fear about a problem.\\n- hashtags: 22 relevant hashtags including #GrowWestFinance #HomeLoan #MortgageBroker #AustralianProperty #PropertyInvestment #FirstHomeBuyer #RealEstate #FinanceTips #MelbourneProperty #MortgageExpert\\n- caption_tiktok_ig: TikTok/Instagram caption. Line 1: the hook on its own line. Lines 2-4: 2-3 short value sentences with positive emojis (house, sparkles, key, celebration emojis). Focus on BENEFITS and what the reader can gain. CTA should encourage commenting, DMing, or calling 0447 002 700 (e.g. Drop a comment if you want to know more, DM us and we will walk you through it, Call us on 0447 002 700). NEVER say book a consultation. Blank line then exactly 22 hashtags. Caption body under 150 words.\\n- caption_facebook: Facebook caption. Open with a relatable positive scenario or exciting opportunity for home buyers. Add 2 key benefit points with line breaks and 1-2 positive emojis. End with an encouraging question inviting comments and include the phone number 0447 002 700 (e.g. Have questions? Drop them below or give us a call on 0447 002 700). NEVER say book. Keep under 220 words. End with 5-7 hashtags.\\n- caption_linkedin: LinkedIn post. Open with a bold positive insight or exciting development in Australian property or mortgage industry. Use 3 bullet points each starting with the unicode right arrow symbol for actionable opportunities or benefits. Close with a thought-leadership question that invites engagement and include 0447 002 700 for direct enquiries. NEVER say book a consultation. Use line breaks between sections. Keep under 280 words. End with 8-10 professional hashtags.\\n- carousel_1_text: Short punchy text overlay for carousel slide 1 - max 15 words. Empty string if not carousel.\\n- carousel_2_text: Text overlay for slide 2. Empty string if not carousel.\\n- carousel_3_text: Text overlay for slide 3. Empty string if not carousel.\\n\\nIMPORTANT - ALL THREE captions (tiktok_ig, facebook, linkedin) must end with this disclaimer:\\nGeneral information only. Not personal financial advice. Speak to a qualified mortgage broker before making any financial decisions. Credit criteria, fees and charges apply.\\n\\nFor carousel format: Make the 3 image prompts visually distinct but cohesive as a branded series following the same PORTRAIT branded template style. Slide texts should tell a positive progression story.\\nFor single_image format: All carousel_*_text and image_prompt_2/image_prompt_3 must be empty strings.\"}]}", "gzip": true, "method": "post", "headers": [{"name": "x-api-key", "value": "__ANTHROPIC_API_KEY_FROM_ENV__"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}], "timeout": "300", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "serializeUrl", "type": "boolean", "label": "Serialize URL", "required": true}, {"name": "method", "type": "select", "label": "Method", "required": true, "validate": {"enum": ["get", "head", "post", "put", "patch", "delete", "options"]}}, {"name": "headers", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "qs", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Query String"}, {"name": "bodyType", "type": "select", "label": "Body type", "validate": {"enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]}}, {"name": "parseResponse", "type": "boolean", "label": "Parse response", "required": true}, {"name": "authUser", "type": "text", "label": "User name"}, {"name": "authPass", "type": "password", "label": "Password"}, {"name": "timeout", "type": "uinteger", "label": "Timeout", "validate": {"max": 300, "min": 1}}, {"name": "shareCookies", "type": "boolean", "label": "Share cookies with other HTTP modules", "required": true}, {"name": "ca", "type": "cert", "label": "Self-signed certificate"}, {"name": "rejectUnauthorized", "type": "boolean", "label": "Reject connections that are using unverified (self-signed) certificates", "required": true}, {"name": "followRedirect", "type": "boolean", "label": "Follow redirect", "required": true}, {"name": "useQuerystring", "type": "boolean", "label": "Disable serialization of multiple same query string keys as arrays", "required": true}, {"name": "gzip", "type": "boolean", "label": "Request compressed content", "required": true}, {"name": "useMtls", "type": "boolean", "label": "Use Mutual TLS", "required": true}, {"name": "contentType", "type": "select", "label": "Content type", "validate": {"enum": ["text/plain", "application/json", "application/xml", "text/xml", "text/html", "custom"]}}, {"name": "data", "type": "buffer", "label": "Request content"}, {"name": "followAllRedirects", "type": "boolean", "label": "Follow all redirect", "required": true}], "restore": {"expect": {"qs": {"mode": "chose"}, "method": {"mode": "chose", "label": "POST"}, "headers": {"mode": "chose", "items": [null, null, null]}, "bodyType": {"label": "Raw"}, "contentType": {"label": "JSON (application/json)"}}}, "designer": {"x": 300, "y": 0}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}, {"name": "useNewZLibDeCompress", "type": "hidden"}]}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 3, "mapper": {"json": "{{2.data.content[1].text}}"}, "module": "json:ParseJSON", "version": 1, "metadata": {"expect": [{"name": "json", "type": "text", "label": "JSON string", "required": true}], "restore": {"parameters": {"type": {"label": "Choose a data structure"}}}, "designer": {"x": 600, "y": 0}, "parameters": [{"name": "type", "type": "udt", "label": "Data structure"}]}, "parameters": {"type": ""}}, {"id": 4, "mapper": {"from": "drive", "mode": "select", "values": {"2": "{{if(1.`2`; 1.`2`; 3.idea)}}", "4": "Content Generated", "6": "{{3.image_prompt}}", "8": "{{3.post_title}}", "9": "{{3.hook}}", "10": "{{3.hashtags}}", "11": "{{3.caption_tiktok_ig}}", "12": "{{3.caption_facebook}}", "13": "{{3.caption_linkedin}}", "14": "{{3.carousel_1_text}}", "16": "{{3.carousel_2_text}}", "18": "{{3.carousel_3_text}}"}, "sheetId": "Pillar Schedule", "rowNumber": "{{1.`__ROW_NUMBER__`}}", "spreadsheetId": "/1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po", "includesHeaders": true, "useColumnHeaders": false, "valueInputOption": "USER_ENTERED"}, "module": "google-sheets:updateRow", "version": 2, "metadata": {"expect": [{"name": "mode", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["select", "fromAll", "map"]}}, {"name": "valueInputOption", "type": "select", "label": "Value input option", "validate": {"enum": ["USER_ENTERED", "RAW"]}}, {"name": "from", "type": "select", "label": "Drive", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "spreadsheetId", "type": "file", "label": "Spreadsheet Name", "required": true}, {"name": "sheetId", "type": "select", "label": "Sheet Name", "required": true}, {"name": "rowNumber", "type": "uinteger", "label": "Row number", "required": true}, {"name": "includesHeaders", "type": "select", "label": "Table contains headers", "required": true, "validate": {"enum": [true, false]}}, {"name": "useColumnHeaders", "type": "select", "label": "Use column headers as IDs of the columns", "required": true, "validate": {"enum": [true, false]}}, {"name": "values", "spec": [{"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Status (E)"}, {"name": "5", "type": "text", "label": "Notes (F)"}, {"name": "6", "type": "text", "label": "Image Prompt\t (G)"}, {"name": "7", "type": "text", "label": "Dropbox Image location (H)"}, {"name": "8", "type": "text", "label": "Post Title (I)"}, {"name": "9", "type": "text", "label": "Hook (J)"}, {"name": "10", "type": "text", "label": "Hash Tags (K)"}, {"name": "11", "type": "text", "label": "Caption (L)"}, {"name": "12", "type": "text", "label": "Caption 2 (M)"}, {"name": "13", "type": "text", "label": "Caption 3 (N)"}, {"name": "14", "type": "text", "label": "Carousal 1 Text (O)"}, {"name": "15", "type": "text", "label": "Carousal 1 Image (P)"}, {"name": "16", "type": "text", "label": "Carousal 2 Text (Q)"}, {"name": "17", "type": "text", "label": "Carousal 2 Image (R)"}, {"name": "18", "type": "text", "label": "Carousal 3 Text (S)"}, {"name": "19", "type": "text", "label": "Carousal 3 Image (T)"}, {"name": "20", "type": "text", "label": "(U)"}, {"name": "21", "type": "text", "label": "(V)"}, {"name": "22", "type": "text", "label": "(W)"}, {"name": "23", "type": "text", "label": "(X)"}, {"name": "24", "type": "text", "label": "(Y)"}, {"name": "25", "type": "text", "label": "(Z)"}, {"name": "26", "type": "text", "label": "(AA)"}, {"name": "27", "type": "text", "label": "(AB)"}, {"name": "28", "type": "text", "label": "(AC)"}], "type": "collection", "label": "Values in columns", "metadata": [[["Date", "Pillar", "Idea", "Post Format", "Status", "Notes", "Image Prompt\t", "Dropbox Image location", "Post Title", "Hook", "Hash Tags", "Caption", "Caption 2", "Caption 3", "Carousal 1 Text", "Carousal 1 Image", "Carousal 2 Text", "Carousal 2 Image", "Carousal 3 Text", "Carousal 3 Image"]]]}], "restore": {"expect": {"from": {"label": "My Drive"}, "mode": {"label": "Search by path"}, "sheetId": {"label": "Pillar Schedule"}, "spreadsheetId": {"path": ["GrowWest Social Media Automation"]}, "includesHeaders": {"label": "Yes"}, "useColumnHeaders": {"label": "No", "nested": [{"name": "values", "spec": [{"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Status (E)"}, {"name": "5", "type": "text", "label": "Notes (F)"}, {"name": "6", "type": "text", "label": "Image Prompt\t (G)"}, {"name": "7", "type": "text", "label": "Dropbox Image location (H)"}, {"name": "8", "type": "text", "label": "Post Title (I)"}, {"name": "9", "type": "text", "label": "Hook (J)"}, {"name": "10", "type": "text", "label": "Hash Tags (K)"}, {"name": "11", "type": "text", "label": "Caption (L)"}, {"name": "12", "type": "text", "label": "Caption 2 (M)"}, {"name": "13", "type": "text", "label": "Caption 3 (N)"}, {"name": "14", "type": "text", "label": "Carousal 1 Text (O)"}, {"name": "15", "type": "text", "label": "Carousal 1 Image (P)"}, {"name": "16", "type": "text", "label": "Carousal 2 Text (Q)"}, {"name": "17", "type": "text", "label": "Carousal 2 Image (R)"}, {"name": "18", "type": "text", "label": "Carousal 3 Text (S)"}, {"name": "19", "type": "text", "label": "Carousal 3 Image (T)"}, {"name": "20", "type": "text", "label": "(U)"}, {"name": "21", "type": "text", "label": "(V)"}, {"name": "22", "type": "text", "label": "(W)"}, {"name": "23", "type": "text", "label": "(X)"}, {"name": "24", "type": "text", "label": "(Y)"}, {"name": "25", "type": "text", "label": "(Z)"}, {"name": "26", "type": "text", "label": "(AA)"}, {"name": "27", "type": "text", "label": "(AB)"}, {"name": "28", "type": "text", "label": "(AC)"}], "type": "collection", "label": "Values in columns", "metadata": [[["Date", "Pillar", "Idea", "Post Format", "Status", "Notes", "Image Prompt\t", "Dropbox Image location", "Post Title", "Hook", "Hash Tags", "Caption", "Caption 2", "Caption 3", "Carousal 1 Text", "Carousal 1 Image", "Carousal 2 Text", "Carousal 2 Image", "Carousal 3 Text", "Carousal 3 Image"]]]}]}, "valueInputOption": {"mode": "chose", "label": "User entered"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "My Google connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 902, "y": 22}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13972126}}, {"id": 100, "mapper": null, "module": "builtin:BasicRouter", "routes": [{"flow": [{"id": 10, "filter": {"name": "", "conditions": [[{"a": "{{1.`3`}}", "b": "single_image", "o": "text:equal"}]]}, "mapper": {"url": "https://generativelanguage.googleapis.com/v1beta/models/nano-banana-pro-preview:generateContent?key=YOUR_GEMINI_API_KEY", "method": "post", "contentType": "json", "inputMethod": "jsonString", "shareCookies": false, "parseResponse": true, "allowRedirects": true, "stopOnHttpError": true, "jsonStringBodyContent": "{\"contents\": [{\"parts\": [{\"text\": \"{{3.image_prompt}}\"}]}], \"generationConfig\": {\"responseModalities\": [\"IMAGE\", \"TEXT\"]}}", "requestCompressedContent": true}, "module": "http:MakeRequest", "version": 4, "metadata": {"designer": {"x": 1500, "y": -200}}, "parameters": {"authenticationType": "noAuth"}}, {"id": 11, "mapper": {"ca": "", "qs": [], "url": "https://gwf-overlay-server.onrender.com/overlay", "data": "{\"image_base64\": \"{{10.data.candidates[].content.parts[].inlineData.data}}\", \"position\": \"top-left\"}", "gzip": true, "method": "post", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1800, "y": -200}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 12, "mapper": {"ca": "", "qs": [], "url": "{{11.data.url}}", "gzip": true, "method": "get", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "serializeUrl": false, "shareCookies": false, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionGetFile", "version": 3, "metadata": {"designer": {"x": 2100, "y": -200}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 13, "mapper": {"data": "{{12.data}}", "path": "/Marketing/EntytiCreatives/{{formatDate(now; \"YYYY-MM\")}}", "filename": "GWF_{{1.`1`}}_{{formatDate(now; \"YYYY-MM-DD\")}}_slide1.png", "overwrite": false}, "module": "dropbox:uploadLargeFile", "version": 5, "metadata": {"expect": [{"name": "path", "type": "folder", "label": "Folder", "required": true}, {"name": "filename", "type": "filename", "label": "File Name", "required": true}, {"name": "data", "type": "buffer", "label": "Data", "required": true}, {"name": "overwrite", "type": "boolean", "label": "Overwrite an existing file", "required": true}], "restore": {"expect": {"path": {"mode": "edit"}, "overwrite": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "dropbox"}, "label": "My Dropbox connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 2400, "y": -200}, "parameters": [{"name": "__IMTCONN__", "type": "account:dropbox", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13971508}}, {"id": 14, "mapper": {"from": "drive", "mode": "select", "values": {"4": "Ready To Post", "7": "/Marketing/EntytiCreatives/{{formatDate(now; \"YYYY-MM\")}}/{{13.name}}"}, "sheetId": "Pillar Schedule", "rowNumber": "{{1.`__ROW_NUMBER__`}}", "spreadsheetId": "/1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po", "includesHeaders": true, "useColumnHeaders": false, "valueInputOption": "USER_ENTERED"}, "module": "google-sheets:updateRow", "version": 2, "metadata": {"expect": [{"name": "mode", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["select", "fromAll", "map"]}}, {"name": "valueInputOption", "type": "select", "label": "Value input option", "validate": {"enum": ["USER_ENTERED", "RAW"]}}, {"name": "from", "type": "select", "label": "Drive", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "spreadsheetId", "type": "file", "label": "Spreadsheet Name", "required": true}, {"name": "sheetId", "type": "select", "label": "Sheet Name", "required": true}, {"name": "rowNumber", "type": "uinteger", "label": "Row number", "required": true}, {"name": "includesHeaders", "type": "select", "label": "Table contains headers", "required": true, "validate": {"enum": [true, false]}}, {"name": "useColumnHeaders", "type": "select", "label": "Use column headers as IDs of the columns", "required": true, "validate": {"enum": [true, false]}}, {"name": "values", "spec": [{"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Status (E)"}, {"name": "5", "type": "text", "label": "Notes (F)"}, {"name": "6", "type": "text", "label": "Image Prompt\t (G)"}, {"name": "7", "type": "text", "label": "Dropbox Image location (H)"}, {"name": "8", "type": "text", "label": "Post Title (I)"}, {"name": "9", "type": "text", "label": "Hook (J)"}, {"name": "10", "type": "text", "label": "Hash Tags (K)"}, {"name": "11", "type": "text", "label": "Caption (L)"}, {"name": "12", "type": "text", "label": "Caption 2 (M)"}, {"name": "13", "type": "text", "label": "Caption 3 (N)"}, {"name": "14", "type": "text", "label": "Carousal 1 Text (O)"}, {"name": "15", "type": "text", "label": "Carousal 1 Image (P)"}, {"name": "16", "type": "text", "label": "Carousal 2 Text (Q)"}, {"name": "17", "type": "text", "label": "Carousal 2 Image (R)"}, {"name": "18", "type": "text", "label": "Carousal 3 Text (S)"}, {"name": "19", "type": "text", "label": "Carousal 3 Image (T)"}, {"name": "20", "type": "text", "label": "(U)"}, {"name": "21", "type": "text", "label": "(V)"}, {"name": "22", "type": "text", "label": "(W)"}, {"name": "23", "type": "text", "label": "(X)"}, {"name": "24", "type": "text", "label": "(Y)"}, {"name": "25", "type": "text", "label": "(Z)"}, {"name": "26", "type": "text", "label": "(AA)"}, {"name": "27", "type": "text", "label": "(AB)"}, {"name": "28", "type": "text", "label": "(AC)"}], "type": "collection", "label": "Values in columns", "metadata": [[["Date", "Pillar", "Idea", "Post Format", "Status", "Notes", "Image Prompt\t", "Dropbox Image location", "Post Title", "Hook", "Hash Tags", "Caption", "Caption 2", "Caption 3", "Carousal 1 Text", "Carousal 1 Image", "Carousal 2 Text", "Carousal 2 Image", "Carousal 3 Text", "Carousal 3 Image"]]]}], "restore": {"expect": {"from": {"label": "My Drive"}, "mode": {"label": "Search by path"}, "sheetId": {"label": "Pillar Schedule"}, "spreadsheetId": {"path": ["GrowWest Social Media Automation"]}, "includesHeaders": {"label": "Yes"}, "useColumnHeaders": {"label": "No", "nested": [{"name": "values", "spec": [{"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Status (E)"}, {"name": "5", "type": "text", "label": "Notes (F)"}, {"name": "6", "type": "text", "label": "Image Prompt\t (G)"}, {"name": "7", "type": "text", "label": "Dropbox Image location (H)"}, {"name": "8", "type": "text", "label": "Post Title (I)"}, {"name": "9", "type": "text", "label": "Hook (J)"}, {"name": "10", "type": "text", "label": "Hash Tags (K)"}, {"name": "11", "type": "text", "label": "Caption (L)"}, {"name": "12", "type": "text", "label": "Caption 2 (M)"}, {"name": "13", "type": "text", "label": "Caption 3 (N)"}, {"name": "14", "type": "text", "label": "Carousal 1 Text (O)"}, {"name": "15", "type": "text", "label": "Carousal 1 Image (P)"}, {"name": "16", "type": "text", "label": "Carousal 2 Text (Q)"}, {"name": "17", "type": "text", "label": "Carousal 2 Image (R)"}, {"name": "18", "type": "text", "label": "Carousal 3 Text (S)"}, {"name": "19", "type": "text", "label": "Carousal 3 Image (T)"}, {"name": "20", "type": "text", "label": "(U)"}, {"name": "21", "type": "text", "label": "(V)"}, {"name": "22", "type": "text", "label": "(W)"}, {"name": "23", "type": "text", "label": "(X)"}, {"name": "24", "type": "text", "label": "(Y)"}, {"name": "25", "type": "text", "label": "(Z)"}, {"name": "26", "type": "text", "label": "(AA)"}, {"name": "27", "type": "text", "label": "(AB)"}, {"name": "28", "type": "text", "label": "(AC)"}], "type": "collection", "label": "Values in columns", "metadata": [[["Date", "Pillar", "Idea", "Post Format", "Status", "Notes", "Image Prompt\t", "Dropbox Image location", "Post Title", "Hook", "Hash Tags", "Caption", "Caption 2", "Caption 3", "Carousal 1 Text", "Carousal 1 Image", "Carousal 2 Text", "Carousal 2 Image", "Carousal 3 Text", "Carousal 3 Image"]]]}]}, "valueInputOption": {"mode": "chose", "label": "User entered"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "My Google connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 2700, "y": -200}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13972126}}]}, {"flow": [{"id": 20, "filter": {"name": "", "conditions": [[{"a": "{{1.`3`}}", "b": "carousel", "o": "text:equal"}]]}, "mapper": {"url": "https://generativelanguage.googleapis.com/v1beta/models/nano-banana-pro-preview:generateContent?key=YOUR_GEMINI_API_KEY", "method": "post", "contentType": "json", "inputMethod": "jsonString", "shareCookies": false, "parseResponse": true, "allowRedirects": true, "stopOnHttpError": true, "jsonStringBodyContent": "{\"contents\": [{\"parts\": [{\"text\": \"{{3.image_prompt}}\"}]}], \"generationConfig\": {\"responseModalities\": [\"IMAGE\", \"TEXT\"]}}", "requestCompressedContent": true}, "module": "http:MakeRequest", "version": 4, "metadata": {"designer": {"x": 1500, "y": 200}}, "parameters": {"authenticationType": "noAuth"}}, {"id": 21, "mapper": {"ca": "", "qs": [], "url": "https://gwf-overlay-server.onrender.com/overlay", "data": "{\"image_base64\": \"{{20.data.candidates[].content.parts[].inlineData.data}}\", \"position\": \"top-left\"}", "gzip": true, "method": "post", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1800, "y": 200}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 22, "mapper": {"ca": "", "qs": [], "url": "{{21.data.url}}", "gzip": true, "method": "get", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "serializeUrl": false, "shareCookies": false, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionGetFile", "version": 3, "metadata": {"designer": {"x": 2100, "y": 200}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 23, "mapper": {"data": "{{22.data}}", "path": "/Marketing/EntytiCreatives/{{formatDate(now; \"YYYY-MM\")}}", "filename": "GWF_{{1.`1`}}_{{formatDate(now; \"YYYY-MM-DD\")}}_Carousel1.png", "overwrite": false}, "module": "dropbox:uploadLargeFile", "version": 5, "metadata": {"expect": [{"name": "path", "type": "folder", "label": "Folder", "required": true}, {"name": "filename", "type": "filename", "label": "File Name", "required": true}, {"name": "data", "type": "buffer", "label": "Data", "required": true}, {"name": "overwrite", "type": "boolean", "label": "Overwrite an existing file", "required": true}], "restore": {"expect": {"path": {"mode": "edit"}, "overwrite": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "dropbox"}, "label": "My Dropbox connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 2400, "y": 200}, "parameters": [{"name": "__IMTCONN__", "type": "account:dropbox", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13971508}}, {"id": 30, "mapper": {"url": "https://generativelanguage.googleapis.com/v1beta/models/nano-banana-pro-preview:generateContent?key=YOUR_GEMINI_API_KEY", "method": "post", "contentType": "json", "inputMethod": "jsonString", "shareCookies": false, "parseResponse": true, "allowRedirects": true, "stopOnHttpError": true, "jsonStringBodyContent": "{\"contents\": [{\"parts\": [{\"text\": \"{{3.image_prompt_2}}\"}]}], \"generationConfig\": {\"responseModalities\": [\"IMAGE\", \"TEXT\"]}}", "requestCompressedContent": true}, "module": "http:MakeRequest", "version": 4, "metadata": {"designer": {"x": 2700, "y": 200}}, "parameters": {"authenticationType": "noAuth"}}, {"id": 31, "mapper": {"ca": "", "qs": [], "url": "https://gwf-overlay-server.onrender.com/overlay", "data": "{\"image_base64\": \"{{30.data.candidates[].content.parts[].inlineData.data}}\", \"position\": \"top-left\"}", "gzip": true, "method": "post", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 3000, "y": 200}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 32, "mapper": {"ca": "", "qs": [], "url": "{{31.data.url}}", "gzip": true, "method": "get", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "serializeUrl": false, "shareCookies": false, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionGetFile", "version": 3, "metadata": {"designer": {"x": 3300, "y": 200}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 33, "mapper": {"data": "{{32.data}}", "path": "/Marketing/EntytiCreatives/{{formatDate(now; \"YYYY-MM\")}}", "filename": "GWF_{{1.`1`}}_{{formatDate(now; \"YYYY-MM-DD\")}}_Carousel2.png", "overwrite": false}, "module": "dropbox:uploadLargeFile", "version": 5, "metadata": {"expect": [{"name": "path", "type": "folder", "label": "Folder", "required": true}, {"name": "filename", "type": "filename", "label": "File Name", "required": true}, {"name": "data", "type": "buffer", "label": "Data", "required": true}, {"name": "overwrite", "type": "boolean", "label": "Overwrite an existing file", "required": true}], "restore": {"expect": {"path": {"mode": "edit"}, "overwrite": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "dropbox"}, "label": "My Dropbox connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 3600, "y": 200}, "parameters": [{"name": "__IMTCONN__", "type": "account:dropbox", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13971508}}, {"id": 40, "mapper": {"url": "https://generativelanguage.googleapis.com/v1beta/models/nano-banana-pro-preview:generateContent?key=YOUR_GEMINI_API_KEY", "method": "post", "contentType": "json", "inputMethod": "jsonString", "shareCookies": false, "parseResponse": true, "allowRedirects": true, "stopOnHttpError": true, "jsonStringBodyContent": "{\"contents\": [{\"parts\": [{\"text\": \"{{3.image_prompt_3}}\"}]}], \"generationConfig\": {\"responseModalities\": [\"IMAGE\", \"TEXT\"]}}", "requestCompressedContent": true}, "module": "http:MakeRequest", "version": 4, "metadata": {"designer": {"x": 3900, "y": 200}}, "parameters": {"authenticationType": "noAuth"}}, {"id": 41, "mapper": {"ca": "", "qs": [], "url": "https://gwf-overlay-server.onrender.com/overlay", "data": "{\"image_base64\": \"{{40.data.candidates[].content.parts[].inlineData.data}}\", \"position\": \"top-left\"}", "gzip": true, "method": "post", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 4200, "y": 200}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 42, "mapper": {"ca": "", "qs": [], "url": "{{41.data.url}}", "gzip": true, "method": "get", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "serializeUrl": false, "shareCookies": false, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionGetFile", "version": 3, "metadata": {"designer": {"x": 4500, "y": 200}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 43, "mapper": {"data": "{{42.data}}", "path": "/Marketing/EntytiCreatives/{{formatDate(now; \"YYYY-MM\")}}", "filename": "GWF_{{1.`1`}}_{{formatDate(now; \"YYYY-MM-DD\")}}_Carousel3.png", "overwrite": false}, "module": "dropbox:uploadLargeFile", "version": 5, "metadata": {"expect": [{"name": "path", "type": "folder", "label": "Folder", "required": true}, {"name": "filename", "type": "filename", "label": "File Name", "required": true}, {"name": "data", "type": "buffer", "label": "Data", "required": true}, {"name": "overwrite", "type": "boolean", "label": "Overwrite an existing file", "required": true}], "restore": {"expect": {"path": {"mode": "edit"}, "overwrite": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "dropbox"}, "label": "My Dropbox connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 4800, "y": 200}, "parameters": [{"name": "__IMTCONN__", "type": "account:dropbox", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13971508}}, {"id": 50, "mapper": {"from": "drive", "mode": "select", "values": {"4": "Processed", "7": "{{23.path_display}}", "15": "{{23.path_display}}", "17": "{{33.path_display}}", "19": "{{43.path_display}}"}, "sheetId": "Pillar Schedule", "rowNumber": "{{1.__ROW_NUMBER__}}", "spreadsheetId": "/1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po", "includesHeaders": true, "useColumnHeaders": false, "valueInputOption": "USER_ENTERED"}, "module": "google-sheets:updateRow", "version": 2, "metadata": {"expect": [{"name": "mode", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["select", "fromAll", "map"]}}, {"name": "valueInputOption", "type": "select", "label": "Value input option", "validate": {"enum": ["USER_ENTERED", "RAW"]}}, {"name": "from", "type": "select", "label": "Drive", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "spreadsheetId", "type": "file", "label": "Spreadsheet Name", "required": true}, {"name": "sheetId", "type": "select", "label": "Sheet Name", "required": true}, {"name": "rowNumber", "type": "uinteger", "label": "Row number", "required": true}, {"name": "includesHeaders", "type": "select", "label": "Table contains headers", "required": true, "validate": {"enum": [true, false]}}, {"name": "useColumnHeaders", "type": "select", "label": "Use column headers as IDs of the columns", "required": true, "validate": {"enum": [true, false]}}, {"name": "values", "spec": [{"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Day Number (E)"}, {"name": "5", "type": "text", "label": "Status (F)"}, {"name": "6", "type": "text", "label": "Notes (G)"}, {"name": "7", "type": "text", "label": "Render Overlay Image URL (H)"}, {"name": "8", "type": "text", "label": "Caption 1 (I)"}, {"name": "9", "type": "text", "label": "Caption 2 (J)"}, {"name": "10", "type": "text", "label": "Caption 3 (K)"}, {"name": "11", "type": "text", "label": "Image Prompt\t (L)"}, {"name": "12", "type": "text", "label": "Image name (M)"}, {"name": "13", "type": "text", "label": "Dropbox image location (N)"}, {"name": "14", "type": "text", "label": "(O)"}, {"name": "15", "type": "text", "label": "(P)"}, {"name": "16", "type": "text", "label": "(Q)"}, {"name": "17", "type": "text", "label": "(R)"}, {"name": "18", "type": "text", "label": "(S)"}, {"name": "19", "type": "text", "label": "(T)"}, {"name": "20", "type": "text", "label": "(U)"}, {"name": "21", "type": "text", "label": "(V)"}, {"name": "22", "type": "text", "label": "(W)"}, {"name": "23", "type": "text", "label": "(X)"}, {"name": "24", "type": "text", "label": "(Y)"}, {"name": "25", "type": "text", "label": "(Z)"}, {"name": "26", "type": "text", "label": "(AA)"}], "type": "collection", "label": "Values in columns", "metadata": [[["Date", "Pillar", "Idea", "Post Format", "Day Number", "Status", "Notes", "Render Overlay Image URL", "Caption 1", "Caption 2", "Caption 3", "Image Prompt\t", "Image name", "Dropbox image location"]]]}, {"name": "mode", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["select", "fromAll", "map"]}}, {"name": "valueInputOption", "type": "select", "label": "Value input option", "validate": {"enum": ["USER_ENTERED", "RAW"]}}, {"name": "from", "type": "select", "label": "Drive", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "spreadsheetId", "type": "file", "label": "Spreadsheet Name", "required": true}, {"name": "sheetId", "type": "select", "label": "Sheet Name", "required": true}, {"name": "rowNumber", "type": "uinteger", "label": "Row number", "required": true}, {"name": "includesHeaders", "type": "select", "label": "Table contains headers", "required": true, "validate": {"enum": [true, false]}}, {"name": "useColumnHeaders", "type": "select", "label": "Use column headers as IDs of the columns", "required": true, "validate": {"enum": [true, false]}}, {"name": "values", "spec": [{"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Day Number (E)"}, {"name": "5", "type": "text", "label": "Status (F)"}, {"name": "6", "type": "text", "label": "Notes (G)"}, {"name": "7", "type": "text", "label": "Render Overlay Image URL (H)"}, {"name": "8", "type": "text", "label": "Caption 1 (I)"}, {"name": "9", "type": "text", "label": "Caption 2 (J)"}, {"name": "10", "type": "text", "label": "Caption 3 (K)"}, {"name": "11", "type": "text", "label": "Image Prompt\t (L)"}, {"name": "12", "type": "text", "label": "Image name (M)"}, {"name": "13", "type": "text", "label": "Dropbox image location (N)"}, {"name": "14", "type": "text", "label": "(O)"}, {"name": "15", "type": "text", "label": "(P)"}, {"name": "16", "type": "text", "label": "(Q)"}, {"name": "17", "type": "text", "label": "(R)"}, {"name": "18", "type": "text", "label": "(S)"}, {"name": "19", "type": "text", "label": "(T)"}, {"name": "20", "type": "text", "label": "(U)"}, {"name": "21", "type": "text", "label": "(V)"}, {"name": "22", "type": "text", "label": "(W)"}, {"name": "23", "type": "text", "label": "(X)"}, {"name": "24", "type": "text", "label": "(Y)"}, {"name": "25", "type": "text", "label": "(Z)"}, {"name": "26", "type": "text", "label": "(AA)"}], "type": "collection", "label": "Values in columns", "metadata": [[["Date", "Pillar", "Idea", "Post Format", "Day Number", "Status", "Notes", "Render Overlay Image URL", "Caption 1", "Caption 2", "Caption 3", "Image Prompt\t", "Image name", "Dropbox image location"]]]}], "restore": {"expect": {"from": {"label": "My Drive"}, "mode": {"label": "Search by path"}, "sheetId": {"label": "Pillar Schedule"}, "spreadsheetId": {"path": ["1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po"]}, "includesHeaders": {"label": "Yes"}, "useColumnHeaders": {"label": "No", "nested": [{"name": "values", "spec": [{"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Day Number (E)"}, {"name": "5", "type": "text", "label": "Status (F)"}, {"name": "6", "type": "text", "label": "Notes (G)"}, {"name": "7", "type": "text", "label": "Render Overlay Image URL (H)"}, {"name": "8", "type": "text", "label": "Caption 1 (I)"}, {"name": "9", "type": "text", "label": "Caption 2 (J)"}, {"name": "10", "type": "text", "label": "Caption 3 (K)"}, {"name": "11", "type": "text", "label": "Image Prompt\t (L)"}, {"name": "12", "type": "text", "label": "Image name (M)"}, {"name": "13", "type": "text", "label": "Dropbox image location (N)"}, {"name": "14", "type": "text", "label": "(O)"}, {"name": "15", "type": "text", "label": "(P)"}, {"name": "16", "type": "text", "label": "(Q)"}, {"name": "17", "type": "text", "label": "(R)"}, {"name": "18", "type": "text", "label": "(S)"}, {"name": "19", "type": "text", "label": "(T)"}, {"name": "20", "type": "text", "label": "(U)"}, {"name": "21", "type": "text", "label": "(V)"}, {"name": "22", "type": "text", "label": "(W)"}, {"name": "23", "type": "text", "label": "(X)"}, {"name": "24", "type": "text", "label": "(Y)"}, {"name": "25", "type": "text", "label": "(Z)"}, {"name": "26", "type": "text", "label": "(AA)"}], "type": "collection", "label": "Values in columns", "metadata": [[["Date", "Pillar", "Idea", "Post Format", "Day Number", "Status", "Notes", "Render Overlay Image URL", "Caption 1", "Caption 2", "Caption 3", "Image Prompt\t", "Image name", "Dropbox image location"]]]}]}, "valueInputOption": {"mode": "chose", "label": "User entered"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "My Google connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 5100, "y": 200}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13972126}}]}], "version": 1, "metadata": {"designer": {"x": 1200, "y": 0}}}], "name": "GrowWest - Content Generate (Scenario A) v2", "metadata": {"instant": false, "version": 1, "designer": {"orphans": [], "samples": {"1": {"0": "29/03/2026", "1": "Home_loans", "2": "5% First home buyer scheme", "3": "single_image", "4": "To do", "5": "", "6": "Portrait vertical 1080x1350 social media image. Background: a smiling young Australian couple standi...", "7": "", "8": "Hidden Costs First Home Buyers Forget to Budget For", "9": "Your deposit is just the beginning.", "10": "#GrowWestFinance #HomeLoan #MortgageBroker #AustralianProperty #PropertyInvestment #FirstHomeBuyer #...", "11": "Your deposit is just the beginning.\n\n\u00f0\u0178\udc8f\u00a0 Stamp duty alone could add tens of thousands to your upfront...", "12": "You've saved your deposit. You've found the home. You're ready to go \u00e2\u20ac\u201d and then the extra bills star...", "13": "Most first home buyers focus on one number: the deposit. But in Australia's property market, that nu...", "__SHEET__": "Pillar Schedule", "__IMTINDEX__": 1, "__IMTLENGTH__": 1, "__ROW_NUMBER__": 3, "__SPREADSHEET_ID__": "1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po"}, "2": {"data": {"id": "msg_011RxtRtCKatUeKqawastZ14", "role": "assistant", "type": "message", "model": "claude-sonnet-4-6", "usage": {"input_tokens": 1534, "service_tier": "standard", "inference_geo": "global", "output_tokens": 1549, "cache_creation": {"ephemeral_1h_input_tokens": 0, "ephemeral_5m_input_tokens": 0}, "cache_read_input_tokens": 0, "cache_creation_input_tokens": 0}, "content": [{"text": "{\"idea\":\"5 hidden costs first home buyers forget to budget for (that could derail your purchase)\",\"i...", "type": "text"}], "stop_reason": "end_turn", "stop_sequence": null}, "headers": [{"name": "cf-ray", "value": "9e3b0ebaf871bf55-DUB"}], "fileSize": 6404, "statusCode": 200, "cookieHeaders": ["_cfuvid=hrct_sCUtmrbth7LDex9CSNWdWxl57ETG3scY8fE9es-1774747283.6809623-1.0.1.1-jnVE9REmzbqOPxRoPhMQh..."]}, "3": {"hook": "Most first buyers don't know this one fee exists.", "idea": "5 hidden costs first home buyers forget to budget for (that could derail your purchase)", "hashtags": "#GrowWestFinance #HomeLoan #MortgageBroker #AustralianProperty #PropertyInvestment #FirstHomeBuyer #...", "post_title": "5 Hidden Costs First Home Buyers Forget to Budget For", "image_prompt": "Portrait vertical 1080x1350 social media image. Background: a warm lifestyle photo of a young Austra...", "image_prompt_2": "", "image_prompt_3": "", "carousel_1_text": "", "carousel_2_text": "", "carousel_3_text": "", "caption_facebook": "You've saved your deposit. You've found the suburb. You're ready \u00e2\u20ac\u201d and then someone mentions stamp d...", "caption_linkedin": "Most first home buyers enter the market focused on one number: the deposit. But the costs that follo...", "caption_tiktok_ig": "Most first buyers don't know this one fee exists.\n\n\u00f0\u0178\udc8f\u00a0 Stamp duty alone could add tens of thousands t..."}, "4": {"updatedRows": 1, "updatedCells": 12, "updatedRange": "'Pillar Schedule'!A3:S3", "spreadsheetId": "1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po", "updatedColumns": 12}, "10": {"data": {"candidates": [{"index": 0, "content": {"role": "model", "parts": [{"inlineData": {"data": "IMTString(947068): /9j/4AAQSkZJRgABAQEBLAEsAAD/6xeISlAAAQAAAAEAABd+anVtYgAAAB5qdW1kYzJwYQARABCAAACqA...", "mimeType": "image/jpeg"}, "thoughtSignature": "IMTString(1681632): EqP9TAqf/UwBvj72+znvaWDeL6zmNLPXj0l3VehiWK6ld8NSwgzedImBEOl3ZPuy5xMzJHyHcRT/KobY..."}]}, "finishReason": "STOP"}], "responseId": "yX7IaYW2CLKWxN8P2bC6-AU", "modelVersion": "nano-banana-pro-preview", "usageMetadata": {"totalTokenCount": 2137, "promptTokenCount": 277, "thoughtsTokenCount": 260, "promptTokensDetails": [{"modality": "TEXT", "tokenCount": 277}], "candidatesTokenCount": 1600, "candidatesTokensDetails": [{"modality": "IMAGE", "tokenCount": 1120}]}}, "headers": {"date": "Sun, 29 Mar 2026 01:22:17 GMT", "vary": "Origin, X-Origin, Referer", "server": "scaffolding on HTTPServer2", "alt-svc": "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000", "content-type": "application/json; charset=UTF-8", "server-timing": "gfet4t7; dur=23548", "x-frame-options": "SAMEORIGIN", "x-xss-protection": "0", "transfer-encoding": "chunked", "x-gemini-service-tier": "standard", "x-content-type-options": "nosniff"}, "statusCode": 200}, "11": {"data": {"url": "https://gwf-overlay-server.onrender.com/images/branded_8e3f1d8e.png", "filename": "branded_8e3f1d8e.png"}, "headers": [{"name": "alt-svc", "value": "h3=\":443\"; ma=86400"}], "fileSize": 112, "statusCode": 200, "cookieHeaders": []}, "12": {"data": "IMTBuffer(1308178, binary, 1599bf6c241fd3e06b28805f2d839aa37f2ae8b3): 89504e470d0a1a0a0000000d494844...", "headers": [{"name": "alt-svc", "value": "h3=\":443\"; ma=86400"}], "fileName": "branded_8e3f1d8e.png", "fileSize": 1308178, "statusCode": 200, "cookieHeaders": []}, "13": {"id": "id:81pX1Wm6wakAAAAAAAAAMg", "rev": "0164e1f92e881880000000340380113", "name": "GWF_Home_loans_2026-03-29_slide1.png", "size": 1308178, "path_lower": "/marketing/entyticreatives/{{\"2026-03\"}}/gwf_home_loans_2026-03-29_slide1.png", "content_hash": "5159cca72d7078976fd7a73904dc846462a5764eb48ba0ab8f652b44ba156057", "path_display": "/Marketing/EntytiCreatives/{{\"2026-03\"}}/GWF_Home_loans_2026-03-29_slide1.png", "client_modified": "2026-03-29T01:22:55.000Z", "is_downloadable": true, "server_modified": "2026-03-29T01:22:55.000Z"}, "14": {"updatedRows": 1, "updatedCells": 2, "updatedRange": "'Pillar Schedule'!A3:H3", "spreadsheetId": "1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po", "updatedColumns": 2}, "20": {"data": {"candidates": [{"index": 0, "content": {"role": "model", "parts": [{"inlineData": {"data": "IMTString(1054428): /9j/4AAQSkZJRgABAQEBLAEsAAD/6xeJSlAAAQAAAAEAABd/anVtYgAAAB5qdW1kYzJwYQARABCAAACq...", "mimeType": "image/jpeg"}, "thoughtSignature": "IMTString(1995600): EvasWwryrFsBvj72+3fYA3HlOFAIAYDO1MJpjUFjvSP6IEebTseNpdP3TvZGbgiUaZ0pBoHuzfUsySFD..."}]}, "finishReason": "STOP"}], "responseId": "DKzHaZCYMbTc7M8P_NHOoAg", "modelVersion": "nano-banana-pro-preview", "usageMetadata": {"totalTokenCount": 2194, "promptTokenCount": 301, "thoughtsTokenCount": 256, "promptTokensDetails": [{"modality": "TEXT", "tokenCount": 301}], "candidatesTokenCount": 1637, "candidatesTokensDetails": [{"modality": "IMAGE", "tokenCount": 1120}]}}, "headers": {"date": "Sat, 28 Mar 2026 10:23:09 GMT", "vary": "Origin, X-Origin, Referer", "server": "scaffolding on HTTPServer2", "alt-svc": "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000", "content-type": "application/json; charset=UTF-8", "server-timing": "gfet4t7; dur=23813", "x-frame-options": "SAMEORIGIN", "x-xss-protection": "0", "transfer-encoding": "chunked", "x-gemini-service-tier": "standard", "x-content-type-options": "nosniff"}, "statusCode": 200}, "21": {"data": {"url": "https://gwf-overlay-server.onrender.com/images/branded_1351fd01.png", "filename": "branded_1351fd01.png"}, "headers": [{"name": "alt-svc", "value": "h3=\":443\"; ma=86400"}], "fileSize": 112, "statusCode": 200, "cookieHeaders": []}, "22": {"data": "IMTBuffer(1490548, binary, f38785e01ba9081ecc953ed4457a786e4a645f2b): 89504e470d0a1a0a0000000d494844...", "headers": [{"name": "alt-svc", "value": "h3=\":443\"; ma=86400"}], "fileName": "branded_1351fd01.png", "fileSize": 1490548, "statusCode": 200, "cookieHeaders": []}, "23": {"id": "id:81pX1Wm6wakAAAAAAAAAHg", "rev": "0164e13016aba680000000340380113", "name": "branded_1351fd01.png", "size": 1490548, "path_lower": "/marketing/entyticreatives/branded_1351fd01.png", "content_hash": "05a5f79858a1cfe16c2d5fbe81ffed69f793745c47afac1cd15e8d22f10b5c99", "path_display": "/Marketing/EntytiCreatives/branded_1351fd01.png", "client_modified": "2026-03-28T10:23:15.000Z", "is_downloadable": true, "server_modified": "2026-03-28T10:23:15.000Z"}, "30": {"data": {"candidates": [{"index": 0, "content": {"role": "model", "parts": [{"inlineData": {"data": "IMTString(1324252): /9j/4AAQSkZJRgABAQEBLAEsAAD/6xeJSlAAAQAAAAEAABd/anVtYgAAAB5qdW1kYzJwYQARABCAAACq...", "mimeType": "image/jpeg"}, "thoughtSignature": "IMTString(2646356): EvuReQr3kXkBvj72+zQ74Arxv9MFBWB/eAm2oohGT3LVkAeGbdf4dEb0q3tyt/TIfu+zdxCL5svbbaAB..."}]}, "finishReason": "STOP"}], "responseId": "JqzHaZXPK97l7M8PgOzwwAk", "modelVersion": "nano-banana-pro-preview", "usageMetadata": {"totalTokenCount": 1489, "thoughtsTokenCount": 215, "candidatesTokenCount": 1274, "candidatesTokensDetails": [{"modality": "IMAGE", "tokenCount": 1120}]}}, "headers": {"date": "Sat, 28 Mar 2026 10:23:34 GMT", "vary": "Origin, X-Origin, Referer", "server": "scaffolding on HTTPServer2", "alt-svc": "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000", "content-type": "application/json; charset=UTF-8", "server-timing": "gfet4t7; dur=19385", "x-frame-options": "SAMEORIGIN", "x-xss-protection": "0", "transfer-encoding": "chunked", "x-gemini-service-tier": "standard", "x-content-type-options": "nosniff"}, "statusCode": 200}, "31": {"data": {"url": "https://gwf-overlay-server.onrender.com/images/branded_070e52c6.png", "filename": "branded_070e52c6.png"}, "headers": [{"name": "alt-svc", "value": "h3=\":443\"; ma=86400"}], "fileSize": 112, "statusCode": 200, "cookieHeaders": []}, "32": {"data": "IMTBuffer(1359487, binary, 0c10d093c2802de621bbdf73070f72627c2ac782): 89504e470d0a1a0a0000000d494844...", "headers": [{"name": "alt-svc", "value": "h3=\":443\"; ma=86400"}], "fileName": "branded_070e52c6.png", "fileSize": 1359487, "statusCode": 200, "cookieHeaders": []}, "33": {"id": "id:81pX1Wm6wakAAAAAAAAAGw", "rev": "0164e12bf5955f00000000340380113", "name": "branded_8849a31a (1).png", "size": 1538229, "path_lower": "/marketing/entyticreatives/branded_8849a31a (1).png", "content_hash": "fffcf15de45267433c68e28a922f160e8d906d575efc2cb9406bf1386aded6fb", "path_display": "/Marketing/EntytiCreatives/branded_8849a31a (1).png", "client_modified": "2026-03-28T10:04:46.000Z", "is_downloadable": true, "server_modified": "2026-03-28T10:04:46.000Z"}, "40": {"data": {"candidates": [{"index": 0, "content": {"role": "model", "parts": [{"inlineData": {"data": "IMTString(1394620): /9j/4AAQSkZJRgABAQEBLAEsAAD/6xeJSlAAAQAAAAEAABd/anVtYgAAAB5qdW1kYzJwYQARABCAAACq...", "mimeType": "image/jpeg"}, "thoughtSignature": "IMTString(2812796): EpfhgAEKkuGAAQG+Pvb7Tsnru+ijXt1gs7iZJs/goYLIspHbl+WKYhuADd9460sfemnv2jNQpjWpSNQ2..."}]}, "finishReason": "STOP"}], "responseId": "0qfHaYaSLrHnxN8PgubJMA", "modelVersion": "nano-banana-pro-preview", "usageMetadata": {"totalTokenCount": 1534, "promptTokenCount": 59, "thoughtsTokenCount": 221, "promptTokensDetails": [{"modality": "TEXT", "tokenCount": 59}], "candidatesTokenCount": 1254, "candidatesTokensDetails": [{"modality": "IMAGE", "tokenCount": 1120}]}}, "headers": {"date": "Sat, 28 Mar 2026 10:05:07 GMT", "vary": "Origin, X-Origin, Referer", "server": "scaffolding on HTTPServer2", "alt-svc": "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000", "content-type": "application/json; charset=UTF-8", "server-timing": "gfet4t7; dur=19835", "x-frame-options": "SAMEORIGIN", "x-xss-protection": "0", "transfer-encoding": "chunked", "x-gemini-service-tier": "standard", "x-content-type-options": "nosniff"}, "statusCode": 200}, "41": {"data": {"url": "https://gwf-overlay-server.onrender.com/images/branded_0d64e2a4.png", "filename": "branded_0d64e2a4.png"}, "headers": [{"name": "alt-svc", "value": "h3=\":443\"; ma=86400"}], "fileSize": 112, "statusCode": 200, "cookieHeaders": []}, "42": {"data": "IMTBuffer(2057795, binary, 9f65d9a16d696f1afee80ac659df002b32fb25ab): 89504e470d0a1a0a0000000d494844...", "headers": [{"name": "alt-svc", "value": "h3=\":443\"; ma=86400"}], "fileName": "branded_0d64e2a4.png", "fileSize": 2057795, "statusCode": 200, "cookieHeaders": []}, "43": {"id": "id:81pX1Wm6wakAAAAAAAAAHA", "rev": "0164e12c0eb40e00000000340380113", "name": "branded_8849a31a (2).png", "size": 1538229, "path_lower": "/marketing/entyticreatives/branded_8849a31a (2).png", "content_hash": "fffcf15de45267433c68e28a922f160e8d906d575efc2cb9406bf1386aded6fb", "path_display": "/Marketing/EntytiCreatives/branded_8849a31a (2).png", "client_modified": "2026-03-28T10:05:13.000Z", "is_downloadable": true, "server_modified": "2026-03-28T10:05:13.000Z"}}}, "scenario": {"dlq": false, "slots": null, "dataloss": false, "maxErrors": 3, "autoCommit": true, "roundtrips": 1, "sequential": false, "confidential": false, "freshVariables": false, "autoCommitTriggerLast": true}}}