scenario_A_v2_blueprint.json
{
    "name": "GrowWest - Content Generate (Scenario A) v2",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 13880676
            },
            "mapper": {
                "from": "drive",
                "limit": "10",
                "filter": [
                    [
                        {
                            "a": "E",
                            "b": "To do",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Pillar Schedule",
                "sortOrder": "asc",
                "spreadsheetId": "148w-F3L_tbQfPr9BHruaxp76q9ZL0jlLmTzPo85g5SA",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "GrowWest Finance (growwestfinance@gmail.com)"
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Pillar Schedule"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "GrowWest Social Media Automation"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://api.anthropic.com/v1/messages",
                "data": "{\"model\": \"claude-sonnet-4-6\", \"max_tokens\": 3000, \"system\": \"You are a content strategist for GrowWest Finance, an Australian mortgage brokerage (growwestfinance.com.au).\\n\\nCOMPLIANCE RULES:\\n- Never state specific interest rates as guaranteed or current\\n- Never make promises about loan approval or borrowing amounts\\n- Always use hedging language: may, could, speak to a broker, subject to assessment\\n- Do not constitute personal financial advice\\n\\nBRAND VOICE: Professional but approachable. Australian English (stamp duty, offset account, serviceability). Clear, jargon-free.\\n\\nBRANDING: Navy #1B2A4A, gold #C9A84C. Handle: @growwestfinance. Website: growwestfinance.com.au\\n\\nHOOK STANDARD: Under 10 words, provocative or counter-intuitive, never generic. Examples: Your bank is NOT your friend at renewal time. | Most first buyers dont know this one fee exists.\\n\\nCRITICAL OUTPUT RULES:\\n- Return ONLY valid JSON. No markdown fences, no code blocks, no explanation before or after.\\n- Do NOT use double-quote characters inside any string value. Use single quotes if quoting is needed within values.\\n- Must be parseable by JSON.parse() without modification.\", \"messages\": [{\"role\": \"user\", \"content\": \"Generate complete social media content for GrowWest Finance.\\n\\nPillar: {{1.1}}\\nIdea: {{1.2}}\\nPost Format: {{1.3}}\\n\\nRULES:\\n- If the Idea field above is empty or blank, YOU MUST generate a trending, engaging content idea based on the Pillar. Never leave idea empty.\\n- If Post Format is carousel, generate 3 distinct image prompts and 3 slide overlay texts.\\n- If Post Format is single_image (or anything other than carousel), leave carousel text and extra image prompt fields as empty strings.\\n\\nReturn a JSON object with exactly these keys: idea, image_prompt, image_prompt_2, image_prompt_3, post_title, hook, hashtags, caption_tiktok_ig, caption_facebook, caption_linkedin, carousel_1_text, carousel_2_text, carousel_3_text\\n\\nField requirements:\\n- idea: The content idea. If input Idea was blank, generate a fresh trending idea for this pillar.\\n- image_prompt: Detailed Gemini image generation prompt. Modern Australian property/finance lifestyle photography. Incorporate brand colors navy #1B2A4A and gold #C9A84C as subtle accents. Clean professional look suitable for social media. NO text overlays on the image. High quality, well-lit, aspirational. If carousel, this is for slide 1 only.\\n- image_prompt_2: Slide 2 image prompt. Only populate if carousel format, otherwise empty string.\\n- image_prompt_3: Slide 3 image prompt. Only populate if carousel format, otherwise empty string.\\n- post_title: Clear descriptive title for the post.\\n- hook: Under 10 words, punchy scroll-stopping opening line.\\n- hashtags: 22 relevant hashtags including #GrowWestFinance #HomeLoan #MortgageBroker #AustralianProperty #PropertyInvestment #FirstHomeBuyer #RealEstate #FinanceTips #MelbourneProperty #MortgageExpert\\n- caption_tiktok_ig: TikTok/Instagram caption. Line 1: the hook on its own line. Lines 2-4: 2-3 short value sentences with emojis like house, money, key emojis. Strong CTA (DM us / Book a call / Link in bio). Blank line then exactly 22 hashtags. Caption body under 150 words.\\n- caption_facebook: Facebook caption. Open with a relatable first-home buyer scenario or surprising fact. Add 2 key value points with line breaks and 1-2 emojis. End with an open question inviting comments. Keep under 220 words. End with 5-7 hashtags.\\n- caption_linkedin: LinkedIn post. Open with a bold insight or surprising data point about Australian property or mortgages. Use 3 bullet points each starting with the unicode right arrow symbol for actionable takeaways. Close with a thought-leadership question CTA. Use line breaks between sections. Keep under 280 words. End with 8-10 professional hashtags.\\n- carousel_1_text: Short punchy text overlay for carousel slide 1 - max 15 words. Empty string if not carousel.\\n- carousel_2_text: Text overlay for slide 2. Empty string if not carousel.\\n- carousel_3_text: Text overlay for slide 3. Empty string if not carousel.\\n\\nIMPORTANT - ALL THREE captions (tiktok_ig, facebook, linkedin) must end with this disclaimer:\\nGeneral information only. Not personal financial advice. Speak to a qualified mortgage broker before making any financial decisions. Credit criteria, fees and charges apply. Grow West Finance | ACL [NUMBER]\\n\\nFor carousel format: Make the 3 image prompts visually distinct but cohesive as a branded series. Slide texts should tell a progression or educational story.\\nFor single_image format: All carousel_*_text and image_prompt_2/image_prompt_3 must be empty strings.\"}]}",
                "method": "post",
                "headers": [
                    {
                        "name": "x-api-key",
                        "value": "__ANTHROPIC_API_KEY_FROM_ENV__"
                    },
                    {
                        "name": "anthropic-version",
                        "value": "2023-06-01"
                    },
                    {
                        "name": "content-type",
                        "value": "application/json"
                    }
                ],
                "timeout": "300",
                "bodyType": "raw",
                "contentType": "application/json",
                "parseResponse": true,
                "followRedirect": true,
                "gzip": true,
                "useMtls": false,
                "serializeUrl": false,
                "shareCookies": false,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true,
                "ca": "",
                "qs": [],
                "authUser": "",
                "authPass": ""
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {},
            "mapper": {
                "json": "{{2.data.content[1].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "interface": [
                    {
                        "name": "idea",
                        "type": "text",
                        "label": "idea"
                    },
                    {
                        "name": "image_prompt",
                        "type": "text",
                        "label": "image_prompt"
                    },
                    {
                        "name": "image_prompt_2",
                        "type": "text",
                        "label": "image_prompt_2"
                    },
                    {
                        "name": "image_prompt_3",
                        "type": "text",
                        "label": "image_prompt_3"
                    },
                    {
                        "name": "post_title",
                        "type": "text",
                        "label": "post_title"
                    },
                    {
                        "name": "hook",
                        "type": "text",
                        "label": "hook"
                    },
                    {
                        "name": "hashtags",
                        "type": "text",
                        "label": "hashtags"
                    },
                    {
                        "name": "caption_tiktok_ig",
                        "type": "text",
                        "label": "caption_tiktok_ig"
                    },
                    {
                        "name": "caption_facebook",
                        "type": "text",
                        "label": "caption_facebook"
                    },
                    {
                        "name": "caption_linkedin",
                        "type": "text",
                        "label": "caption_linkedin"
                    },
                    {
                        "name": "carousel_1_text",
                        "type": "text",
                        "label": "carousel_1_text"
                    },
                    {
                        "name": "carousel_2_text",
                        "type": "text",
                        "label": "carousel_2_text"
                    },
                    {
                        "name": "carousel_3_text",
                        "type": "text",
                        "label": "carousel_3_text"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 13880676
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "2": "{{if(1.2; 1.2; 3.idea)}}",
                    "4": "Content Generated",
                    "6": "{{3.image_prompt}}",
                    "8": "{{3.post_title}}",
                    "9": "{{3.hook}}",
                    "10": "{{3.hashtags}}",
                    "11": "{{3.caption_tiktok_ig}}",
                    "12": "{{3.caption_facebook}}",
                    "13": "{{3.caption_linkedin}}",
                    "14": "{{3.carousel_1_text}}",
                    "16": "{{3.carousel_2_text}}",
                    "18": "{{3.carousel_3_text}}"
                },
                "sheetId": "Pillar Schedule",
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "spreadsheetId": "/148w-F3L_tbQfPr9BHruaxp76q9ZL0jlLmTzPo85g5SA",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "GrowWest Finance (growwestfinance@gmail.com)"
                        }
                    }
                }
            }
        },
        {
            "id": 100,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://generativelanguage.googleapis.com/v1beta/models/nano-banana-pro-preview:generateContent?key=YOUR_GEMINI_API_KEY",
                                "method": "post",
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "jsonStringBodyContent": "{\"contents\": [{\"parts\": [{\"text\": \"{{3.image_prompt}}\"}]}], \"generationConfig\": {\"responseModalities\": [\"IMAGE\", \"TEXT\"]}}",
                                "parseResponse": true,
                                "stopOnHttpError": true,
                                "allowRedirects": true,
                                "shareCookies": false,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -200
                                }
                            }
                        },
                        {
                            "id": 11,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "https://gwf-overlay-server.onrender.com/overlay",
                                "data": "{\"image_base64\": \"{{10.data.candidates[].content.parts[].inlineData.data}}\", \"position\": \"top-left\"}",
                                "method": "post",
                                "headers": [],
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "parseResponse": true,
                                "followRedirect": true,
                                "gzip": true,
                                "useMtls": false,
                                "serializeUrl": false,
                                "shareCookies": false,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true,
                                "ca": "",
                                "qs": [],
                                "authUser": "",
                                "authPass": "",
                                "timeout": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": -200
                                }
                            }
                        },
                        {
                            "id": 12,
                            "module": "http:ActionGetFile",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "{{11.data.url}}",
                                "method": "get",
                                "headers": [],
                                "qs": [],
                                "followRedirect": true,
                                "followAllRedirects": false,
                                "shareCookies": false,
                                "gzip": true,
                                "useMtls": false,
                                "serializeUrl": false,
                                "useQuerystring": false,
                                "rejectUnauthorized": true,
                                "ca": "",
                                "authUser": "",
                                "authPass": "",
                                "timeout": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": -200
                                }
                            }
                        },
                        {
                            "id": 13,
                            "module": "dropbox:UploadFile",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1
                            },
                            "mapper": {
                                "folder": "/Marketing/GWFCreatives",
                                "name": "{{11.data.filename}}",
                                "data": "{{12.data}}",
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": -200
                                }
                            }
                        },
                        {
                            "id": 14,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 13880676
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "4": "Processed",
                                    "7": "{{13.path_display}}"
                                },
                                "sheetId": "Pillar Schedule",
                                "rowNumber": "{{1.__ROW_NUMBER__}}",
                                "spreadsheetId": "/148w-F3L_tbQfPr9BHruaxp76q9ZL0jlLmTzPo85g5SA",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": -200
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "GrowWest Finance (growwestfinance@gmail.com)"
                                        }
                                    }
                                }
                            }
                        }
                    ],
                    "label": "Single Image",
                    "filter": {
                        "name": "Single Image",
                        "conditions": [
                            [
                                {
                                    "a": "{{1.3}}",
                                    "b": "carousel",
                                    "o": "text:notequal"
                                }
                            ]
                        ]
                    }
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://generativelanguage.googleapis.com/v1beta/models/nano-banana-pro-preview:generateContent?key=YOUR_GEMINI_API_KEY",
                                "method": "post",
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "jsonStringBodyContent": "{\"contents\": [{\"parts\": [{\"text\": \"{{3.image_prompt}}\"}]}], \"generationConfig\": {\"responseModalities\": [\"IMAGE\", \"TEXT\"]}}",
                                "parseResponse": true,
                                "stopOnHttpError": true,
                                "allowRedirects": true,
                                "shareCookies": false,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 21,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "https://gwf-overlay-server.onrender.com/overlay",
                                "data": "{\"image_base64\": \"{{20.data.candidates[].content.parts[].inlineData.data}}\", \"position\": \"top-left\"}",
                                "method": "post",
                                "headers": [],
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "parseResponse": true,
                                "followRedirect": true,
                                "gzip": true,
                                "useMtls": false,
                                "serializeUrl": false,
                                "shareCookies": false,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true,
                                "ca": "",
                                "qs": [],
                                "authUser": "",
                                "authPass": "",
                                "timeout": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 22,
                            "module": "http:ActionGetFile",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "{{21.data.url}}",
                                "method": "get",
                                "headers": [],
                                "qs": [],
                                "followRedirect": true,
                                "followAllRedirects": false,
                                "shareCookies": false,
                                "gzip": true,
                                "useMtls": false,
                                "serializeUrl": false,
                                "useQuerystring": false,
                                "rejectUnauthorized": true,
                                "ca": "",
                                "authUser": "",
                                "authPass": "",
                                "timeout": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 23,
                            "module": "dropbox:UploadFile",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1
                            },
                            "mapper": {
                                "folder": "/Marketing/GWFCreatives",
                                "name": "{{21.data.filename}}",
                                "data": "{{22.data}}",
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 30,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://generativelanguage.googleapis.com/v1beta/models/nano-banana-pro-preview:generateContent?key=YOUR_GEMINI_API_KEY",
                                "method": "post",
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "jsonStringBodyContent": "{\"contents\": [{\"parts\": [{\"text\": \"{{3.image_prompt_2}}\"}]}], \"generationConfig\": {\"responseModalities\": [\"IMAGE\", \"TEXT\"]}}",
                                "parseResponse": true,
                                "stopOnHttpError": true,
                                "allowRedirects": true,
                                "shareCookies": false,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 31,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "https://gwf-overlay-server.onrender.com/overlay",
                                "data": "{\"image_base64\": \"{{30.data.candidates[].content.parts[].inlineData.data}}\", \"position\": \"top-left\"}",
                                "method": "post",
                                "headers": [],
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "parseResponse": true,
                                "followRedirect": true,
                                "gzip": true,
                                "useMtls": false,
                                "serializeUrl": false,
                                "shareCookies": false,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true,
                                "ca": "",
                                "qs": [],
                                "authUser": "",
                                "authPass": "",
                                "timeout": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 32,
                            "module": "http:ActionGetFile",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "{{31.data.url}}",
                                "method": "get",
                                "headers": [],
                                "qs": [],
                                "followRedirect": true,
                                "followAllRedirects": false,
                                "shareCookies": false,
                                "gzip": true,
                                "useMtls": false,
                                "serializeUrl": false,
                                "useQuerystring": false,
                                "rejectUnauthorized": true,
                                "ca": "",
                                "authUser": "",
                                "authPass": "",
                                "timeout": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 33,
                            "module": "dropbox:UploadFile",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1
                            },
                            "mapper": {
                                "folder": "/Marketing/GWFCreatives",
                                "name": "{{31.data.filename}}",
                                "data": "{{32.data}}",
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 40,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "https://generativelanguage.googleapis.com/v1beta/models/nano-banana-pro-preview:generateContent?key=YOUR_GEMINI_API_KEY",
                                "method": "post",
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "jsonStringBodyContent": "{\"contents\": [{\"parts\": [{\"text\": \"{{3.image_prompt_3}}\"}]}], \"generationConfig\": {\"responseModalities\": [\"IMAGE\", \"TEXT\"]}}",
                                "parseResponse": true,
                                "stopOnHttpError": true,
                                "allowRedirects": true,
                                "shareCookies": false,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3900,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 41,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "https://gwf-overlay-server.onrender.com/overlay",
                                "data": "{\"image_base64\": \"{{40.data.candidates[].content.parts[].inlineData.data}}\", \"position\": \"top-left\"}",
                                "method": "post",
                                "headers": [],
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "parseResponse": true,
                                "followRedirect": true,
                                "gzip": true,
                                "useMtls": false,
                                "serializeUrl": false,
                                "shareCookies": false,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true,
                                "ca": "",
                                "qs": [],
                                "authUser": "",
                                "authPass": "",
                                "timeout": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4200,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 42,
                            "module": "http:ActionGetFile",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "{{41.data.url}}",
                                "method": "get",
                                "headers": [],
                                "qs": [],
                                "followRedirect": true,
                                "followAllRedirects": false,
                                "shareCookies": false,
                                "gzip": true,
                                "useMtls": false,
                                "serializeUrl": false,
                                "useQuerystring": false,
                                "rejectUnauthorized": true,
                                "ca": "",
                                "authUser": "",
                                "authPass": "",
                                "timeout": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4500,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 43,
                            "module": "dropbox:UploadFile",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1
                            },
                            "mapper": {
                                "folder": "/Marketing/GWFCreatives",
                                "name": "{{41.data.filename}}",
                                "data": "{{42.data}}",
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4800,
                                    "y": 200
                                }
                            }
                        },
                        {
                            "id": 50,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 13880676
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "4": "Processed",
                                    "7": "{{23.path_display}}",
                                    "15": "{{23.path_display}}",
                                    "17": "{{33.path_display}}",
                                    "19": "{{43.path_display}}"
                                },
                                "sheetId": "Pillar Schedule",
                                "rowNumber": "{{1.__ROW_NUMBER__}}",
                                "spreadsheetId": "/148w-F3L_tbQfPr9BHruaxp76q9ZL0jlLmTzPo85g5SA",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 5100,
                                    "y": 200
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "GrowWest Finance (growwestfinance@gmail.com)"
                                        }
                                    }
                                }
                            }
                        }
                    ],
                    "label": "Carousel",
                    "filter": {
                        "name": "Carousel",
                        "conditions": [
                            [
                                {
                                    "a": "{{1.3}}",
                                    "b": "carousel",
                                    "o": "text:equal"
                                }
                            ]
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}