scenario_d_updated.json
{"flow": [{"id": 1, "mapper": {"from": "drive", "limit": "1", "filter": [[{"a": "E", "b": "Ready To Post", "o": "text:equal"}]], "sheetId": "Pillar Schedule", "sortOrder": "asc", "spreadsheetId": "1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po", "tableFirstRow": "A1:Z1", "includesHeaders": true, "valueRenderOption": "FORMATTED_VALUE", "dateTimeRenderOption": "FORMATTED_STRING"}, "module": "google-sheets:filterRows", "version": 2, "metadata": {"expect": [{"name": "from", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["drive", "share"]}}, {"name": "valueRenderOption", "type": "select", "label": "Value render option", "validate": {"enum": ["FORMATTED_VALUE", "UNFORMATTED_VALUE", "FORMULA"]}}, {"name": "dateTimeRenderOption", "type": "select", "label": "Date and time render option", "validate": {"enum": ["SERIAL_NUMBER", "FORMATTED_STRING"]}}, {"name": "limit", "type": "uinteger", "label": "Limit"}, {"name": "spreadsheetId", "type": "select", "label": "Spreadsheet Name", "required": true}, {"name": "sheetId", "type": "select", "label": "Sheet Name", "required": true}, {"name": "includesHeaders", "type": "select", "label": "Table contains headers", "required": true, "validate": {"enum": [true, false]}}, {"name": "tableFirstRow", "type": "select", "label": "Column range", "required": true, "validate": {"enum": ["A1:Z1", "A1:BZ1", "A1:CZ1", "A1:DZ1", "A1:MZ1", "A1:ZZ1", "A1:AZZ1", "A1:BZZ1", "A1:CZZ1", "A1:DZZ1", "A1:MZZ1", "A1:ZZZ1"]}}, {"name": "filter", "type": "filter", "label": "Filter", "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"}, {"name": "orderBy", "type": "select", "label": "Order by"}, {"name": "sortOrder", "type": "select", "label": "Sort order", "validate": {"enum": ["asc", "desc"]}}], "restore": {"expect": {"from": {"label": "Select from My Drive"}, "orderBy": {"mode": "chose"}, "sheetId": {"mode": "chose", "label": "Pillar Schedule"}, "sortOrder": {"mode": "chose", "label": "Ascending"}, "spreadsheetId": {"mode": "chose", "label": "GrowWest Social Media Automation"}, "tableFirstRow": {"label": "A-Z"}, "includesHeaders": {"mode": "chose", "label": "Yes"}, "valueRenderOption": {"mode": "chose", "label": "Formatted value"}, "dateTimeRenderOption": {"mode": "chose", "label": "Formatted string"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "My Google connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 0, "y": 0}, "interface": [{"name": "__IMTLENGTH__", "type": "uinteger", "label": "Total number of bundles"}, {"name": "__IMTINDEX__", "type": "uinteger", "label": "Bundle order position"}, {"name": "__ROW_NUMBER__", "type": "number", "label": "Row number"}, {"name": "__SPREADSHEET_ID__", "type": "text", "label": "Spreadsheet ID"}, {"name": "__SHEET__", "type": "text", "label": "Sheet"}, {"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Status (E)"}, {"name": "5", "type": "text", "label": "Notes (F)"}, {"name": "6", "type": "text", "label": "Image Prompt (G)"}, {"name": "7", "type": "text", "label": "Dropbox Image location (H)"}, {"name": "8", "type": "text", "label": "Post Title (I)"}, {"name": "9", "type": "text", "label": "Hook (J)"}, {"name": "10", "type": "text", "label": "Hash Tags (K)"}, {"name": "11", "type": "text", "label": "Caption (L)"}, {"name": "12", "type": "text", "label": "Caption 2 (M)"}, {"name": "13", "type": "text", "label": "Caption 3 (N)"}, {"name": "14", "type": "text", "label": "Carousal 1 Text (O)"}, {"name": "15", "type": "text", "label": "Carousal 1 Image (P)"}, {"name": "16", "type": "text", "label": "Carousal 2 Text (Q)"}, {"name": "17", "type": "text", "label": "Carousal 2 Image (R)"}, {"name": "18", "type": "text", "label": "Carousal 3 Text (S)"}, {"name": "19", "type": "text", "label": "Carousal 3 Image (T)"}], "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13972126}}, {"id": 2, "mapper": {"path": "{{1.`7`}}", "select": "map", "settings": {}}, "module": "dropbox:createShareLink", "version": 5, "metadata": {"expect": [{"name": "select", "type": "select", "label": "Way of selecting files", "required": true, "validate": {"enum": ["map", "file"]}}, {"name": "settings", "spec": [], "type": "collection", "label": "Settings"}, {"name": "path", "type": "text", "label": "File Path", "required": true}], "restore": {"expect": {"select": {"label": "Map a file/folder path"}, "settings": {"nested": {}}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "dropbox"}, "label": "My Dropbox connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 300, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:dropbox", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13971508}}, {"id": 100, "mapper": null, "module": "builtin:BasicRouter", "routes": [{"flow": [{"id": 10, "mapper": {"url": "https://backend.blotato.com/v2/posts", "data": "{\"post\":{\"accountId\":\"35643\",\"content\":{\"text\":\"{{1.`11`}}\",\"mediaUrls\":[\"{{2.URL}}\"],\"platform\":\"tiktok\"},\"target\":{\"targetType\":\"tiktok\",\"privacyLevel\":\"PUBLIC_TO_EVERYONE\",\"disabledComments\":false,\"disabledDuet\":false,\"disabledStitch\":false,\"isBrandedContent\":false,\"isYourBrand\":false,\"isAiGenerated\":true,\"autoAddMusic\":true}}}", "method": "post", "headers": [{"name": "blotato-api-key", "value": "YOUR_BLOTATO_API_KEY"}, {"name": "Content-Type", "value": "application/json"}], "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "method", "type": "select", "label": "Method", "required": true, "validate": {"enum": ["get", "head", "post", "put", "patch", "delete", "options"]}}, {"name": "headers", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "bodyType", "type": "select", "label": "Body type", "validate": {"enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]}}, {"name": "contentType", "type": "select", "label": "Content type", "validate": {"enum": ["text/plain", "application/json", "application/xml", "text/xml", "text/html", "custom"]}}, {"name": "data", "type": "buffer", "label": "Request content"}, {"name": "parseResponse", "type": "boolean", "label": "Parse response", "required": true}, {"name": "serializeUrl", "type": "boolean", "label": "Serialize URL"}, {"name": "shareCookies", "type": "boolean", "label": "Share cookies with other HTTP modules"}, {"name": "followRedirect", "type": "boolean", "label": "Follow redirect"}, {"name": "followAllRedirects", "type": "boolean", "label": "Follow all redirect"}, {"name": "rejectUnauthorized", "type": "boolean", "label": "Reject unverified certificates"}, {"name": "useQuerystring", "type": "boolean", "label": "Disable serialization of multiple same query string keys as arrays"}], "restore": {"expect": {"method": {"mode": "chose", "label": "POST"}, "bodyType": {"label": "Raw"}, "contentType": {"label": "JSON (application/json)"}, "parseResponse": {"mode": "chose"}}}, "designer": {"x": 900, "y": -300}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}, {"name": "useNewZLibDeCompress", "type": "hidden"}]}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 11, "mapper": {"from": "drive", "mode": "select", "values": {"4": "Posted"}, "sheetId": "Pillar Schedule", "rowNumber": "{{1.__ROW_NUMBER__}}", "spreadsheetId": "/1LmdMphdUFCpZ5W7RGjCZsf4Tz6n9tPiassbOLyb39Po", "includesHeaders": true, "useColumnHeaders": false, "valueInputOption": "USER_ENTERED"}, "module": "google-sheets:updateRow", "version": 2, "metadata": {"expect": [{"name": "mode", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["select", "fromAll", "map"]}}, {"name": "valueInputOption", "type": "select", "label": "Value input option", "validate": {"enum": ["USER_ENTERED", "RAW"]}}, {"name": "from", "type": "select", "label": "Drive", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "spreadsheetId", "type": "file", "label": "Spreadsheet Name", "required": true}, {"name": "sheetId", "type": "select", "label": "Sheet Name", "required": true}, {"name": "rowNumber", "type": "uinteger", "label": "Row number", "required": true}, {"name": "includesHeaders", "type": "select", "label": "Table contains headers", "required": true, "validate": {"enum": [true, false]}}, {"name": "useColumnHeaders", "type": "select", "label": "Use column headers as IDs of the columns", "required": true, "validate": {"enum": [true, false]}}, {"name": "values", "spec": [{"name": "0", "type": "text", "label": "Date (A)"}, {"name": "1", "type": "text", "label": "Pillar (B)"}, {"name": "2", "type": "text", "label": "Idea (C)"}, {"name": "3", "type": "text", "label": "Post Format (D)"}, {"name": "4", "type": "text", "label": "Status (E)"}, {"name": "5", "type": "text", "label": "Notes (F)"}], "type": "collection", "label": "Values in columns"}], "restore": {"expect": {"from": {"label": "My Drive"}, "mode": {"label": "Search by path"}, "sheetId": {"label": "Pillar Schedule"}, "spreadsheetId": {"path": ["GrowWest Social Media Automation"]}, "includesHeaders": {"label": "Yes"}, "useColumnHeaders": {"label": "No"}, "valueInputOption": {"mode": "chose", "label": "User entered"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "My Google connection (growwestfinance@gmail.com)"}}}, "designer": {"x": 1200, "y": -300}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 13972126}}]}, {"flow": [{"id": 20, "mapper": {"url": "https://backend.blotato.com/v2/posts", "data": "{\"post\":{\"accountId\":\"INSTAGRAM_ACCOUNT_ID\",\"content\":{\"text\":\"{{1.`11`}}\",\"mediaUrls\":[\"{{2.URL}}\"],\"platform\":\"instagram\"},\"target\":{\"targetType\":\"instagram\"}},\"scheduledTime\":\"2026-03-31T10:00:00Z\"}", "method": "post", "headers": [{"name": "blotato-api-key", "value": "YOUR_BLOTATO_API_KEY"}, {"name": "Content-Type", "value": "application/json"}], "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "method", "type": "select", "label": "Method", "required": true, "validate": {"enum": ["get", "head", "post", "put", "patch", "delete", "options"]}}, {"name": "headers", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "bodyType", "type": "select", "label": "Body type", "validate": {"enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]}}, {"name": "contentType", "type": "select", "label": "Content type", "validate": {"enum": ["text/plain", "application/json", "application/xml", "text/xml", "text/html", "custom"]}}, {"name": "data", "type": "buffer", "label": "Request content"}, {"name": "parseResponse", "type": "boolean", "label": "Parse response", "required": true}], "restore": {"expect": {"method": {"mode": "chose", "label": "POST"}, "bodyType": {"label": "Raw"}, "contentType": {"label": "JSON (application/json)"}, "parseResponse": {"mode": "chose"}}}, "designer": {"x": 900, "y": -100}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}, {"name": "useNewZLibDeCompress", "type": "hidden"}]}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 30, "mapper": {"url": "https://backend.blotato.com/v2/posts", "data": "{\"post\":{\"accountId\":\"FACEBOOK_ACCOUNT_ID\",\"content\":{\"text\":\"{{1.`12`}}\",\"mediaUrls\":[\"{{2.URL}}\"],\"platform\":\"facebook\"},\"target\":{\"targetType\":\"facebook\",\"pageId\":\"FACEBOOK_PAGE_ID\"}},\"scheduledTime\":\"2026-03-31T10:00:00Z\"}", "method": "post", "headers": [{"name": "blotato-api-key", "value": "YOUR_BLOTATO_API_KEY"}, {"name": "Content-Type", "value": "application/json"}], "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "method", "type": "select", "label": "Method", "required": true, "validate": {"enum": ["get", "head", "post", "put", "patch", "delete", "options"]}}, {"name": "headers", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "bodyType", "type": "select", "label": "Body type", "validate": {"enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]}}, {"name": "contentType", "type": "select", "label": "Content type", "validate": {"enum": ["text/plain", "application/json", "application/xml", "text/xml", "text/html", "custom"]}}, {"name": "data", "type": "buffer", "label": "Request content"}, {"name": "parseResponse", "type": "boolean", "label": "Parse response", "required": true}], "restore": {"expect": {"method": {"mode": "chose", "label": "POST"}, "bodyType": {"label": "Raw"}, "contentType": {"label": "JSON (application/json)"}, "parseResponse": {"mode": "chose"}}}, "designer": {"x": 900, "y": 100}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}, {"name": "useNewZLibDeCompress", "type": "hidden"}]}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 40, "mapper": {"url": "https://backend.blotato.com/v2/posts", "data": "{\"post\":{\"accountId\":\"LINKEDIN_ACCOUNT_ID\",\"content\":{\"text\":\"{{1.`13`}}\",\"mediaUrls\":[\"{{2.URL}}\"],\"platform\":\"linkedin\"},\"target\":{\"targetType\":\"linkedin\"}},\"scheduledTime\":\"2026-03-31T10:00:00Z\"}", "method": "post", "headers": [{"name": "blotato-api-key", "value": "YOUR_BLOTATO_API_KEY"}, {"name": "Content-Type", "value": "application/json"}], "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "method", "type": "select", "label": "Method", "required": true, "validate": {"enum": ["get", "head", "post", "put", "patch", "delete", "options"]}}, {"name": "headers", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "bodyType", "type": "select", "label": "Body type", "validate": {"enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]}}, {"name": "contentType", "type": "select", "label": "Content type", "validate": {"enum": ["text/plain", "application/json", "application/xml", "text/xml", "text/html", "custom"]}}, {"name": "data", "type": "buffer", "label": "Request content"}, {"name": "parseResponse", "type": "boolean", "label": "Parse response", "required": true}], "restore": {"expect": {"method": {"mode": "chose", "label": "POST"}, "bodyType": {"label": "Raw"}, "contentType": {"label": "JSON (application/json)"}, "parseResponse": {"mode": "chose"}}}, "designer": {"x": 900, "y": 300}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}, {"name": "useNewZLibDeCompress", "type": "hidden"}]}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}]}], "version": 1, "metadata": {"designer": {"x": 600, "y": 0}}}], "name": "GWF - Social Media Post All Platforms (Scenario D)", "metadata": {"instant": false, "version": 1, "designer": {"orphans": []}, "scenario": {"dlq": false, "slots": null, "dataloss": false, "maxErrors": 3, "autoCommit": true, "roundtrips": 1, "sequential": false, "confidential": false, "freshVariables": false, "autoCommitTriggerLast": true}}}